Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

ci: harden GitHub Code Quality coverage steps (review feedback)
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6391: test(codeserver-baseline): allow public-index phase-1 contract
  tests/containers/base_image_test.py
Due: none

ci: drop ref_name metachar guard; track upstream injection instead
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6391: refactor(codeserver-baseline): normalize phase-1 target naming
  Makefile
  ci/cached-builds/gen_gha_matrix_jobs.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/make_test.py
  codeserver-baseline/ubi9-python-3.12/README.md
  tests/containers/base_image_test.py
  tests/public_index_image_utils.py
  tests/unit/test_public_index_image_utils.py
Due: none

RHAIENG-6002: ci(.tekton): route ODH PR Konflux builds to linux/x86_64
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
Due: none

RHAIENG-6002: ci(.tekton): use linux/x86_64 for amd64 push pipelines
  .tekton/multiarch-odh-main-combined-pipeline.yaml
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-7-14-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-7-14-py312-c9s-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-push.yaml
Due: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6002: ci(.tekton): raise codeserver build to 16 CPU / 32Gi
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-6002: ci(.tekton): set linux/x86_64 on ROCm ci-push pipelines
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ci-push.yaml
Due: none

RHAIENG-6391: chore(prek): apply manual hook formatting
  ci/cached-builds/make_test.py
  tests/containers/base_image_test.py
  tests/public_index_image_utils.py
  tests/test_main.py
  tests/unit/test_public_index_image_utils.py
Due: none

RHAIENG-6391: fix(codeserver-baseline): avoid hadolint parse failure
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver-baseline/ubi9-python-3.12/patches/apply-patch.sh
Due: none

ci(code-quality): set persist-credentials:false on the go-tests checkout
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6391: ci(.tekton): align baseline pipeline component names
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-push.yaml
Due: none

RHAIENG-6391: ci(.tekton): align baseline output image names
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-push.yaml
Due: none

RHAIENG-6391: ci(.tekton): expand baseline PR build platforms
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
Due: none

RHAIENG-6391: fix(codeserver-baseline): address remaining review findings
  Makefile
  ci/cached-builds/gen_gha_matrix_jobs.py
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  tests/containers/base_image_test.py
  tests/index_config_utils.py
  tests/public_index_image_utils.py
  tests/test_main.py
  tests/unit/test_index_config_utils.py
  tests/unit/test_public_index_image_utils.py
Due: none

RHAIENG-6391: chore(prek): satisfy ruff typing checks
  tests/index_config_utils.py
  tests/unit/test_index_config_utils.py
Due: none

RHAIENG-6391: test(codeserver-baseline): restore public-index env contract
  tests/containers/base_image_test.py
Due: none

RHAIENG-6391: test(codeserver-baseline): detect tag-encoded public images
  tests/public_index_image_utils.py
  tests/unit/test_public_index_image_utils.py
Due: none

Align RPM lockfile regen with rhelai-3.5 and refresh ODH locks
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  prefetch-input/odh/rpms.lock.yaml
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/create-rpm-lockfile.sh
  scripts/lockfile-generators/helpers/rpm-lockfile-generate.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

ci: touch lockfile script to retrigger pull_request workflows
  scripts/lockfile-generators/create-rpm-lockfile.sh
Due: none

chore: remove temporary CI retrigger comment
  scripts/lockfile-generators/create-rpm-lockfile.sh
Due: none

RHAIENG-6002: ci(.tekton): raise tensorflow-rocm build ephemeral to 80Gi
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-push.yaml
Due: none

RHAIENG-4344: fix: change healthz endpoint for CodeServer culling
  ARCHITECTURE.md
  codeserver/ubi9-python-3.12/nginx/api/kernels/access.cgi
  tests/containers/workbenches/culling_api_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-6002: ci(.tekton): raise pytorch-rocm/rocm-base build ephemeral to 80Gi
  .tekton/odh-base-image-rocm-7-14-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-7-14-py312-c9s-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-push.yaml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

RHAIENG-6391: fix(codeserver-baseline): carry over culling and device-code defaults
  codeserver-baseline/ubi9-python-3.12/nginx/api/kernels/access.cgi
  codeserver-baseline/ubi9-python-3.12/run-code-server.sh
  tests/containers/workbenches/culling_api_test.py
Due: none

RHAIENG-6391: chore(test): apply ruff format to culling API test
  tests/containers/workbenches/culling_api_test.py
Due: none

docs(adr): record decision to route amd64 Konflux builds to in-cluster x86_64
  docs/architecture/decisions/0016-route-amd64-konflux-builds-to-in-cluster-x86-64.md
Due: none

RHAIENG-6391: fix(codeserver-baseline): carry over culling and code-server copilot enablement (#4317)
  codeserver-baseline/ubi9-python-3.12/nginx/api/kernels/access.cgi
  codeserver-baseline/ubi9-python-3.12/run-code-server.sh
  tests/containers/workbenches/culling_api_test.py
Due: none

create jupyter/baseline and update pyproject.toml
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/build-args/cpu.conf
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/baseline/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/service.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/setup-elyra.sh
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/baseline/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/baseline/ubi9-python-3.12/utils/component_runtime.json
  jupyter/baseline/ubi9-python-3.12/utils/configure_kale_from_elyra.py
  jupyter/baseline/ubi9-python-3.12/utils/jupyter_elyra_config.py
  jupyter/baseline/ubi9-python-3.12/utils/kfp_authentication.patch
  jupyter/baseline/ubi9-python-3.12/utils/pipeline-flow.svg
  jupyter/baseline/ubi9-python-3.12/utils/pipeline_app.patch
  jupyter/baseline/ubi9-python-3.12/utils/pipeline_definition.patch
  jupyter/baseline/ubi9-python-3.12/utils/processor_kfp.patch
  jupyter/baseline/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

update konflux tekton, makefile, and GHA wiring
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
  Makefile
  ci/cached-builds/gen_gha_matrix_jobs.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/make_test.py
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/README.md
  jupyter/baseline/ubi9-python-3.12/build-args/cpu.conf
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/baseline/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  scripts/lockfile-generators/create-requirements-lockfile.sh
  tests/public_index_image_utils.py
  tests/test_main.py
  tests/unit/test_public_index_image_utils.py
Due: none

RHAIENG-6389: fix(jupyter-baseline): enable EPEL for texlive-tcolorbox
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

RHAIENG-6389: fix(jupyter-baseline): install pandoc from EPEL
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-6389: test(jupyter-baseline): align container tests with lean image
  jupyter/baseline/ubi9-python-3.12/test/test_notebook.ipynb
  scripts/test_jupyter_with_papermill.sh
  tests/containers/base_image_test.py
  tests/containers/conftest.py
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

update trustyai to 0.6.4 to address cve
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/constraints.txt
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(jupyter): use startup probes for slow workbench startup
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push
