Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

ISSUE #4374: fix(renovate): follow-up on separateMinorPatch review
  .github/renovate.json5
  .github/workflows/validate-renovate-config.yaml
  scripts/ci/validate_renovate_config.py
  scripts/ci/validate_renovate_dry_run.py
  tests/test_renovate_config.py
  tests/unit/scripts/ci/renovate_config_testdata.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_dry_run.py
Due: none

fix(renovate): validate the ODH exclusion on separateMinorPatch rule
  scripts/ci/validate_renovate_config.py
  scripts/ci/validate_renovate_dry_run.py
  tests/unit/scripts/ci/renovate_config_testdata.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_dry_run.py
Due: none

update cpu lock based the new image
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

update rhel os version to correspond to the new version
  .cursor/skills/rosa-hcp-provision/nvidia-driver-compilation.md
Due: none

update requirments-elyra.txt file
  ci/requirements-elyra.txt
Due: none

update uv version in the baseline dockerfiles
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

relock
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/requirements.cuda.txt
  jupyter/minimal/ubi9-python-3.12/requirements.rocm.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix codeserver test
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: none

update the baseline confs
  codeserver-baseline/ubi9-python-3.12/build-args/cpu.conf
  codeserver-baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/baseline/ubi9-python-3.12/build-args/cpu.conf
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/baseline/ubi9-python-3.12/build-args/cpu.conf
  runtimes/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: none

fix(base-images/copr): patch thrift rebuild for EL9
  base-images/copr/README.md
  base-images/copr/spec.md
  base-images/copr/src/copr_rebuild/copr_client.py
  base-images/copr/src/copr_rebuild/manifest_schema.json
  base-images/copr/src/copr_rebuild/models.py
  base-images/copr/src/copr_rebuild/packages.yaml
  base-images/copr/src/copr_rebuild/rebuild.py
  base-images/utils/aipcc.sh
Due: odh-base-image-cuda-12-9-py312-c9s-on-push

fix(base-images/copr): patch thrift rebuild for EL9 (#4411)
  base-images/copr/README.md
  base-images/copr/spec.md
  base-images/copr/src/copr_rebuild/copr_client.py
  base-images/copr/src/copr_rebuild/manifest_schema.json
  base-images/copr/src/copr_rebuild/models.py
  base-images/copr/src/copr_rebuild/packages.yaml
  base-images/copr/src/copr_rebuild/rebuild.py
  base-images/utils/aipcc.sh
Due: odh-base-image-cuda-12-9-py312-c9s-on-push

Update ODH rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update RHDS rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update Konflux references
  .tekton/multiarch-odh-main-combined-pipeline.yaml
Due: none

Update konflux BASE_IMAGE quay.io-aipcc-base-images-rocm-7.14-el9.8 to v3.6.0-ea.1-1787265973
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

GHA: Renew lock files (#4418)
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update konflux BASE_IMAGE quay.io-aipcc-base-images-rocm-7.14-el9.8 to v3.6.0-ea.1-1787265973 (#4419)
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

RHAIENG-7088: fix(jupyter/trustyai): add platform_machine to environments for multi-arch wheel verification
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-5451: enforce per-flavor required-environments during lock generation
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

RHAIENG-5451: commit required-environments statically into pyproject.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-7088: fix(jupyter/trustyai): add no-build = true for wheel-only resolution
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-5451: commit required-environments statically into pyproject.toml (#4423)
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

add subscription manager on the odh baseline pipelines
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
Due: none

update our lockal multiarch pipeline with SM
  .tekton/multiarch-odh-main-combined-pipeline.yaml
Due: none

Add ACTIVATION_KEY to pipeline configuration
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-pull-request.yaml
Due: none

RHAIENG-7079: feat: add fix-cve wrapper skills for Claude Code and Cursor
  .agents/plugins/cve-resolution/skills/fix-cve/SKILL.md
  .claude/skills/fix-cve
  .cursor/skills/fix-cve
Due: none

RHOAIENG-87015: Update Notebooks to use ODH Kale instead Kubeflow Kale package
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/odh-notebooks-meta-jupyterlab-datascience-deps/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6297: ci(.tekton/): raise minimal-rocm and tensorflow-cuda build ephemeral to 80Gi
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6297: ci(.tekton/): raise minimal-rocm and tensorflow-cuda build ephemeral to 80Gi (#4428)
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-87015: update(jupyter/): Notebooks to use ODH Kale instead Kubeflow Kale package (#4400)
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/odh-notebooks-meta-jupyterlab-datascience-deps/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(jupyter): extend startupProbe to remaining workbench StatefulSets
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/tensorflow/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/tensorflow/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Remove stale odh-workbench-codeserver-baseline-cpu-py312-v3-6-ea-1-push.yaml from .tekton/ (offboarding)
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-v3-6-ea-1-push.yaml
Due: none

RHAIENG-7152: fix(lockfiles): omit sdist hashes only when an EL9 wheel exists
  codeserver-baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  runtimes/baseline/ubi9-python-3.12/requirements.cpu.txt
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

RHAIENG-7152: fix(lockfiles): parse wheel platform tags via packaging
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

RHAIENG-7079: feat: add fix-cve wrapper skills for Claude Code and Cursor (#4410)
  .agents/plugins/cve-resolution/skills/fix-cve/SKILL.md
  .claude/skills/fix-cve
  .cursor/skills/fix-cve
Due: none

RHAIENG-7152: refactor(lockfiles): classify EL9 wheels from packaging Tags
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

RHAIENG-7152: style(lockfiles): apply ruff format to EL9 wheel helper
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
