Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-rstudio-minimal-cpu-py311-c9s:{{revision}}
  - name: dockerfile
    value: rstudio/c9s-python-3.11/Dockerfile.cpu
  ...

fix(pylock): remove misguided `requires-dist = []` from rocm tensorflow image
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-304: fix(pylock): remove misguided `requires-dist = []` from rocm tensorflow image (#2184)
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
Due: none

NO-JIRA: resume testing of cuda-based rstudio images in GitHub Actions (#2174)
  Makefile
Due: none

Issue #2157: chore(Dockerfiles): replace yum with dnf consistently across UBI9 Dockerfiles
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

fixup, this one required a bit of thinking
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

fixup, this one required a bit of thinking
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
Due: none

Re-enable llmCompressor for ODH availability
  manifests/base/params-latest.env
  manifests/overlays/additional/kustomization.yaml
Due: none

Issue #2157: chore(Dockerfiles): replace yum with dnf consistently across UBI9 Dockerfiles (#2185)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Re-enable llmCompressor for ODH availability (#2195)
  manifests/base/params-latest.env
  manifests/overlays/additional/kustomization.yaml
Due: none

Add `if: ${{ !cancelled() }}` condition to validation steps in code-quality workflow so that we check everything even if previous step failed
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-304, RHAIENG-785: we now don't have any `**/Pipfile.lock` files, adjust check for it
  .github/workflows/code-quality.yaml
  ci/validate_json.py
Due: none

NO-JIRA: bump default Python version in `refresh-pipfilelock-files` Makefile task from 3.11 to 3.12 (#2175)
  Makefile
Due: none

RHAIENG-304, RHAIENG-786: chore(ci): update Trivy scan to handle `pyproject.toml` using `uv lock`
  .github/workflows/security.yaml
Due: none

Include c9s base images for cuda and rocm
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.11/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/c9s-python-3.11/cuda.repo-amd64
  base-images/cuda/12.6/c9s-python-3.11/cuda.repo-arm64
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
Due: none

Create cuda and rocm base images (#2180)
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.11/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/c9s-python-3.11/cuda.repo-amd64
  base-images/cuda/12.6/c9s-python-3.11/cuda.repo-arm64
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/c9s-python-3.12/cuda.repo-amd64
  base-images/cuda/12.6/c9s-python-3.12/cuda.repo-arm64
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/ubi9-python-3.12/cuda.repo-amd64
  base-images/cuda/12.6/ubi9-python-3.12/cuda.repo-arm64
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-py312-ubi9-on-push

RHAIENG-304, RHAIENG-786: chore(ci): update Trivy scan to handle `pyproject.toml` using `uv lock` (#2217)
  .github/workflows/security.yaml
Due: none

RHAIENG-304, RHAIENG-786: chore(scripts): update `sync-requirements-txt.sh` to support `pylock.toml` generation using `uv pip compile` instead of `Pipfile.lock`
  Makefile
  ci/generate_code.sh
  scripts/sync-python-lockfiles.sh
  scripts/sync-requirements-txt.sh
Due: none

RHAIENG-304, RHAIENG-786: chore(scripts): update `sync-requirements-txt.sh` to support `pylock.toml` generation using `uv pip compile` instead of `Pipfile.lock` (#2220)
  Makefile
  ci/generate_code.sh
  scripts/sync-python-lockfiles.sh
  scripts/sync-requirements-txt.sh
Due: none

RHAIENG-722: chore(CVEs): bump `TensorFlow` to 2.20, `TensorBoard` to 2.20, `Boto3` to 1.40.6, `Kfp` to 2.14 across those UBI9 Python 3.12 images that permit it
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  manifests/overlays/additional/codeserver-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-tensorflow-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-trustyai-cpu-py312-ubi9-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-722: chore(CVEs): relock piplock.toml's on Python 3.12
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: fix(scripts): skip non-file Dockerfiles and those in `base-images/` directory in `dockerfile_fragments.py`
  scripts/dockerfile_fragments.py
Due: none

RHAIENG-722: chore(CVEs): relock `pylock.toml` on Python 3.12; bump `Kfp` to 2.14.1, `google-cloud-storage` to 3.3.0, `protobuf` to 6.31.1, add `click-option-group`
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-304, RHAIENG-786: chore(ci): don't activate the uv env in `security.yaml`, turns out rabbit was on the right track
  .github/workflows/security.yaml
Due: none

NO-JIRA: fix(scripts): skip non-file Dockerfiles and those in `base-images/` directory in `dockerfile_fragments.py` (#2221)
  scripts/dockerfile_fragments.py
Due: none

RHAIENG-304, RHAIENG-786: chore(ci): don't activate the uv env in `security.yaml`, turns out rabbit was on the right track (#2223)
  .github/workflows/security.yaml
Due: none

Update Runtime Datascience Dockerfile with ppc64le changes
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
Due: none

NO-JIRA: chore(ci): change build-notebooks workflow to use activation key for Red Hat subscription registration instead of storing entitlement certificates
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Issue #2199: chore(ci): change build-notebooks workflow to use activation key for Red Hat subscription registration instead of storing entitlement certificates (#2224)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

update Dockerfile.cpu to enable ppc64le architecture
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: none

set cmake args to use correct python from venv
  codeserver/ubi9-python-3.12/devel_env_setup.sh
Due: none

Skip PDF export installation for ppc64le
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(ci): introduce a `make test` target
  .github/workflows/code-quality.yaml
  Makefile
  README.md
Due: none

Path conditions:
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
