Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHAIENG-4454: fix: restore CI coverage for code-server in manifest vs Quay validation
  tests/containers/manifest_validation_test.py
Due: none

test: isolate Kale configuration test imports
  tests/unit/test_configure_kale_from_elyra.py
Due: none

test: expect DEX configuration rejection
  tests/unit/test_configure_kale_from_elyra.py
Due: none

test: preserve main Kale auth coverage
  tests/unit/test_configure_kale_from_elyra.py
Due: none

test: isolate Kale configuration test imports (#4639)
  tests/unit/test_configure_kale_from_elyra.py
Due: none

fix: synchronize Kale setup scripts
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

NO-JIRA: fix(codeserver-baseline): align debugpy dependency marker with aarch64 support
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver-baseline/ubi9-python-3.12/pyproject.toml
  codeserver-baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/test/test_notebook.ipynb
  runtimes/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

NO-JIRA: ci: fail check-params-env.sh on image size threshold breach
  ci/check-params-env.sh
Due: none

docs: add Renovate Bot configuration guide
  docs/renovate.md
Due: none

docs: add macOS development notes on symlink issue
  docs/macos.md
Due: none

NO-JIRA: docs(codeserver): sync prefetch step docs with Makefile-derived mapping
  codeserver-baseline/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/README.md
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: test(cached-builds): cover codeserver baseline directory mapping
  ci/cached-builds/gha_pr_changed_files.py
Due: none

NO-JIRA: docs(codeserver): align prefetch workflow descriptions
  codeserver-baseline/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/README.md
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: docs(codeserver): sync prefetch step docs with Makefile-derived mapping (#4643)
  ci/cached-builds/gha_pr_changed_files.py
  codeserver-baseline/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/README.md
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: test(pylock): add descriptive failure messages to EL9-wheel assertions
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

NO-JIRA: test(pylock): add Allure issue/description metadata to EL9-wheel tests
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

fix(ci/agentic-reviewer): CWE-150: sanitize CSI and OSC terminal sequences in CI log context
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/src/odh_ci_agent/prepare_ci_run_context.py
  ci/agentic-reviewer/tests/unit/test_prepare_ci_run_context.py
Due: none

NO-JIRA: base-images: drop dnf clean all from NCCL overlay RUN (CUDA 13.0)
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

NO-JIRA: chore(base-images): explain intentional dnf cache retention
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

NO-JIRA: chore(base-images): drop dnf clean all from NCCL overlay RUN (#4646)
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

NO-JIRA: ci: replace global SC3046 suppression with inline hadolint ignore
  ci/hadolint-config.yaml
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: ci: enable strict mode in Dockerfile heredocs
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: fix(ci): fetch remote update branch before force-with-lease push in update-commit-latest-env.yaml (#4232)
  .github/workflows/update-commit-latest-env.yaml
Due: none

NO-JIRA: fix(ci): fetch remote update branch before force-with-lease push in update-commit-latest-env.yaml (#4232) (#4648)
  .github/workflows/update-commit-latest-env.yaml
Due: none

NO-JIRA: ci: replace global SC3046 suppression with bash heredocs (#4647)
  ci/hadolint-config.yaml
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG: refactor: centralize ANSI escape regex
  ci/agentic-reviewer/src/odh_ci_agent/ansi.py
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/src/odh_ci_agent/prepare_ci_run_context.py
Due: none

RHAIENG: fix: harden ANSI escape sanitization
  ci/agentic-reviewer/src/odh_ci_agent/ansi.py
  ci/agentic-reviewer/src/odh_ci_agent/prepare_ci_run_context.py
  ci/agentic-reviewer/tests/unit/test_prepare_ci_run_context.py
Due: none

RHAIENG: docs: explain ANSI regex backtracking guard
  ci/agentic-reviewer/src/odh_ci_agent/ansi.py
Due: none

RHAIENG: refactor: make ANSI regex verbose
  ci/agentic-reviewer/src/odh_ci_agent/ansi.py
Due: none

fix(ci/agentic-reviewer): sanitize terminal escape sequences in CI logs (#4645)
  ci/agentic-reviewer/src/odh_ci_agent/ansi.py
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/src/odh_ci_agent/prepare_ci_run_context.py
  ci/agentic-reviewer/tests/unit/test_prepare_ci_run_context.py
Due: none

docs: add Renovate Bot configuration guide docs: add macOS development notes on symlink issue (#4642)
  docs/macos.md
  docs/renovate.md
Due: none

ISSUE-4233: fix: report image size thresholds
  ci/check-params-env.sh
Due: none

ISSUE-4233: fix: avoid global image size state
  ci/check-params-env.sh
Due: none

NO-JIRA: ci: fail check-params-env.sh on image size threshold breach (#4641)
  ci/check-params-env.sh
Due: none

NO-JIRA: fix(ci): bound release-suffix regex in check-params-env.sh to 1-2 digit major version (#4236)
  ci/check-params-env.sh
Due: none

NO-JIRA: fix(ci): bound release-suffix regex in check-params-env.sh to 1-2 digit major version (#4236) (#4649)
  ci/check-params-env.sh
Due: none

NO-JIRA: test(pylocks): add descriptive failure messages to public-index lock tests
  tests/unit/scripts/test_pylocks_generator.py
Due: none

NO-JIRA: test(pylocks): add descriptive failure messages to public-index lock tests (#4650)
  tests/unit/scripts/test_pylocks_generator.py
Due: none
