Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

chore(tekton): remove redundant `odh-main` suffix from pipeline names in YAML files for consistency
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py312-rhel9-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-c9s-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-rhel9-odh-main-push.yaml
Due: none

chore(scripts): update pipeline and task names to align with "odh-main" naming convention
  scripts/generate_pull_request_pipelineruns.py
Due: none

chore(tekton): remove redundant `odh-main` suffix from pipeline file names for consistency
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py312-rhel9-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-c9s-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-rhel9-odh-main-push.yaml
Due: none

docs: update guide for `generate_envs.py`, replacing `list_rhoai_images.py` usage
  docs/fetching_registry_redhat_io_index.md
Due: none

chore(scripts): rewrite `pylocks_generator.sh` to Python for improved pagination
  manifests/tools/generate_envs.py
Due: none

chore(generate_envs.py): track failures when fetching image metadata
  manifests/tools/generate_envs.py
Due: none

chore(generate_envs.py): use certifi CA bundle for better TLS handling on macOS
  manifests/tools/generate_envs.py
  pyproject.toml
  uv.lock
Due: none

chore(generate_envs.py, docs): validate version_tag format; update code block syntax in Red Hat API guide
  docs/fetching_registry_redhat_io_index.md
  manifests/tools/generate_envs.py
Due: none

RHAIENG-3083: chore(manifests/tools): add `manifests/tools/generate_envs.py` to automate updating container image references (#3067)
  docs/fetching_registry_redhat_io_index.md
  manifests/tools/generate_envs.py
  pyproject.toml
  uv.lock
Due: none

chore(tests): replace `assert` with `pytest.fail` inside a subtest for clearer error reporting
  tests/test_main.py
Due: none

chore(tests): remove version specifier check in `test_main.py` since we won't be pinning versions in pyproject.toml in the future
  tests/test_main.py
Due: none

chore(align-dockerfile-script): Make check_dockerfile_alignment.sh backward compatable with older bash version
  scripts/check_dockerfile_alignment.sh
Due: none

chore(prefetch): Pass --flavor to prefetch-all.sh from Dockerfile suffix
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

RHAIENG-3668: chore(tests): remove version specifier check in test_main.py since we won't be pinning versions in pyproject.toml in the future (#3082)
  tests/test_main.py
Due: none

chore: Update task.step resource
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-odh-main-push.yaml
Due: none

ISSUE #3086: chore: enable knowledge base learnings
  .coderabbit.yaml
Due: none

ISSUE #3086: chore: enable knowledge base learnings (#3087)
  .coderabbit.yaml
Due: none

RHAIENG-2860: codeserver — ripgrep from RHOAI wheel, uv bump, docs and prefetch fixes
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/patches/apply-patch.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/README.md
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/ripgrep/postinstall.js
  codeserver/ubi9-python-3.12/prefetch-input/patches/setup-offline-binaries.sh
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  docs/hermetic-guide.md
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/prefetch-all.sh
  tests/containers/base_image_test.py
  tests/containers/conftest.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

manifests: update order of images to make space for universal images
  manifests/rhoai/base/README.md
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/rstudio-gpu-notebook-imagestream.yaml
Due: none

chore(prefetch-gomod): Add Go module prefetch for hermetic builds (create-go-lockfile, hermeto-fetch-gomod)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/README.md
  docs/hermetic-guide.md
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-go-lockfile.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-gomod.sh
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2851: Hermetic build for jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  .dockerignore
  .gitmodules
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  dependencies/odh-notebooks-meta-workbench-datascience-deps/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/README.md
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/odh/rpms.in.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/repos/centos.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/repos/epel.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/repos/openshift-clients.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/repos/rhsm-pulp.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/repos/ubi.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/rhds/rpms.in.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/utils/install_pdf_deps.sh
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/test_jupyter_with_papermill.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Test commit
  .dockerignore
  dependencies/odh-notebooks-meta-workbench-datascience-deps/pyproject.toml
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Fixed lm_eval issue
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/test/test_notebook.ipynb
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Fixed scripts/test_jupyter_with_papermill.sh
  scripts/test_jupyter_with_papermill.sh
Due: none

Removed ### BEGIN ### END block
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Added onnxscript to pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
Due: none

Added feast to pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

Generous delays for slow or constrained nodes (e.g. ppc64le in CI)
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Genereate pylock files
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Ran Pyright
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

remove ###
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Added feast to pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
Due: none

fix(codeserver): fix 502 bad gateway for culling probe
  codeserver/ubi9-python-3.12/httpd/httpd.conf
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: add changes to odh base as well
  manifests/odh/base/code-server-notebook-imagestream.yaml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/odh/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/odh/base/rstudio-notebook-imagestream.yaml
Due: none

Attempt to fix timeout issue
  ci/cached-builds/make_test.py
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push
