Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

Update registry.redhat.io/rhel9/python-312 Docker tag to v9.8-1786382267
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: none

Update ODH rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update RHDS rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update pylock lock files
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/requirements.cuda.txt
  jupyter/minimal/ubi9-python-3.12/requirements.rocm.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

`docs(rosa-hcp): add comprehensive provisioning, teardown, and GPU compilation guides`
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/deprovision.md
  .cursor/skills/rosa-hcp-provision/nvidia-driver-compilation.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
Due: none

feat(skills): add ARM64 ROSA GPU smoke validation skill
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.sh
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
Due: none

docs(rosa-hcp): add detailed cost optimization and RHOAI installation guides
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
Due: none

docs(skills): address CodeRabbit review comments on rosa-hcp-provision/arm64-rosa-gpu-smoke
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/deprovision.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/nvidia-driver-compilation.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
  .cursor/skills/rosa-hcp-provision/spot-instances.md
Due: none

docs(rosa-hcp): clarify spot instance limitation as an unreleased feature
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
Due: none

docs(rosa-hcp): split spot instances into dedicated guide, refine cost optimization
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/spot-instances.md
Due: none

fix(resize-gpu-pool): don't let set -e abort before the not-found check
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
Due: none

docs(skills): round 2 — escalate rejected fixes, address new CodeRabbit findings
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/deprovision.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/nvidia-driver-compilation.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
  .cursor/skills/rosa-hcp-provision/spot-instances.md
Due: none

docs(skills): round 3 — fix local-CLI + fresh GitHub CodeRabbit findings
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
Due: none

docs(skills): document EA/pre-release RHOAI install incl. Gateway API prereq
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/nvidia-driver-compilation.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
Due: none

docs(skills): fix and document ImageStream registry-rewrite Kyverno rule
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
Due: none

docs(skills): add object storage guide (Garage/RustFS/SeaweedFS/S4 on arm64)
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
Due: none

docs(skills): always pass --context explicitly, never rely on ambient current-context
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/nvidia-driver-compilation.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
Due: none

docs(skills): document arm64 ImageStream importMode root cause and Elyra pipeline test
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/arm64-imagestream-importmode.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
Due: none

docs(skills): round 4 — fix fresh CodeRabbit CLI + GitHub findings on PR #4340
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/arm64-imagestream-importmode.md
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
  .cursor/skills/rosa-hcp-provision/spot-instances.md
Due: none

docs(skills): round 5 — fix fresh CodeRabbit CLI findings on PR #4340
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
  .cursor/skills/rosa-hcp-provision/cost-optimization.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
  .cursor/skills/rosa-hcp-provision/spot-instances.md
Due: none

docs(skills): round 6 — fix remaining still-valid GitHub review findings
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/rosa-hcp-provision/SKILL.md
Due: none

docs(skills): round 7 — fix fresh CodeRabbit CLI findings on PR #4340
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-smoke-pod.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/arm64-imagestream-importmode.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
Due: none

docs(skills): round 8 — centralize credential/CSV-wait scripts, fix pagination-backlog findings
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/arm64-rosa-gpu-smoke/scripts/gpu-manual-tests.py
  .cursor/skills/lib/create-pull-secret.sh
  .cursor/skills/lib/wait-for-csv.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/arm64-imagestream-importmode.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
Due: none

add _kale output directory in Kale setup
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

docs(skills): fix ambient-context regression + other CodeRabbit findings on the lib/ scripts
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/lib/create-pull-secret.sh
  .cursor/skills/lib/wait-for-csv.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
  .cursor/skills/rosa-hcp-provision/spot-instances.md
Due: none

docs(skills): race CSV wait against Failed, flag other silent long waits
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/lib/wait-for-csv.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/resize-gpu-pool-2xlarge.sh
Due: none

Add _kale output directory in kale setup
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix: address round-9 CodeRabbit findings on wait-for-csv.sh, create-pull-secret.sh, SKILL.md
  .cursor/skills/lib/create-pull-secret.sh
  .cursor/skills/lib/wait-for-csv.sh
  .cursor/skills/rosa-hcp-provision/SKILL.md
Due: none

docs(skills): scope install-rhoai.md's Route check to RHOAI < 3.3
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
Due: none

docs(adr): add ADR 0016 for à la carte AIPCC content delivery
  docs/architecture/decisions/0016-adopt-a-la-carte-content-delivery-for-aipcc-notebooks.md
Due: none

docs(skills): note Garage's HTTP endpoint is test-only, in-cluster only
  .cursor/skills/arm64-rosa-gpu-smoke/SKILL.md
  .cursor/skills/rosa-hcp-provision/object_storage.md
Due: none

[rhoai-3.5] chore: sync konflux BASE_IMAGE tags and digests
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  codeserver/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6785: fix pyarrow 24.0.0 hashes in pytorch+llmcompressor CUDA lockfiles
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

RHAIENG-6770,RHAIENG-6767: chore(cve): bump aiohttp to >=3.14.3
  codeserver/ubi9-python-3.12/pylock.toml
  dependencies/cve-constraints.txt
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6390: feat(runtime-baseline): integrate phase-1 runtime-baseline wiring and build
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-push.yaml
  Makefile
  ci/cached-builds/gen_gha_matrix_jobs.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/make_test.py
  docs/konflux.md
  runtimes/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/baseline/ubi9-python-3.12/README.md
  runtimes/baseline/ubi9-python-3.12/build-args/cpu.conf
  runtimes/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/baseline/ubi9-python-3.12/kustomize/base/kustomization.yaml
  runtimes/baseline/ubi9-python-3.12/kustomize/base/pod.yaml
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/baseline/ubi9-python-3.12/pyproject.toml
  runtimes/baseline/ubi9-python-3.12/utils/pip.conf
  runtimes/baseline/ubi9-python-3.12/utils/requirements-elyra.txt
  runtimes/baseline/ubi9-python-3.12/utils/requirements-kale.txt
  scripts/lockfile-generators/create-requirements-lockfile.sh
  tests/containers/base_image_test.py
  tests/public_index_image_utils.py
  tests/test_main.py
  tests/unit/test_public_index_image_utils.py
Due: none

RHAIENG-6390: test(runtime): skip datascience checks for baseline runtimes
  tests/containers/runtimes/runtime_test.py
Due: none

RHAIENG-6785: fix pyarrow 24.0.0 hashes in remaining lockfiles and requirements
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-82298: chore(ci): add post-codefreeze-gatekeeper evaluation workflow (#2736)
  .github/renovate.json
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
