Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHOAIENG-63891: add CVE-2026-44432 reference to cve-constraints.txt comment
  dependencies/cve-constraints.txt
Due: none

Update onnx to 1.21.0 for cve-2026-28500 (#2230)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/cve-constraints.txt
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  uv.lock
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Split uv version policy for dev tooling vs image lock generation
  .devcontainer/devcontainer.json
  .github/workflows/piplock-renewal.yaml
  .github/workflows/renovate-self-hosted.yaml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  ci/generate_code.sh
  dependencies/uv-image-lock-version
  docs/architecture/decisions/0007-add-devcontainer-configuration.md
  pyproject.toml
  scripts/lockfile-generators/README.md
  uv
Due: none

Fix refresh-lock-files Makefile target shell invocation
  Makefile
Due: none

RHOAIENG-64520: update stale CVE comment references from CVE-2025-66418 to CVE-2026-44431
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-63889: handle malformed regex in renovate config validator
  scripts/ci/validate_renovate_config.py
Due: none

RHOAIENG-63883: document CVE-2026-44432 coverage in cve-constraints.txt
  dependencies/cve-constraints.txt
Due: none

ISSUE#3729: chore(uv): split uv version policy for dev tooling vs image lock generation (#3727)
  .devcontainer/devcontainer.json
  .github/workflows/piplock-renewal.yaml
  .github/workflows/renovate-self-hosted.yaml
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  ci/generate_code.sh
  dependencies/uv-image-lock-version
  docs/architecture/decisions/0007-add-devcontainer-configuration.md
  pyproject.toml
  scripts/lockfile-generators/README.md
  uv
Due: none

RHOAIENG-64521: restore CVE-2026-44432 comment in cve-constraints.txt
  dependencies/cve-constraints.txt
Due: none

RHOAIENG-63889: catch ValueError from malformed regex during prefix evaluation in validate_config
  scripts/ci/validate_renovate_config.py
Due: none

ISSUE#3729: chore(uv): adjust uv version range to >=0.10,<0.12 in scripts and documentation
  README.md
  ci/generate_code.sh
  pyproject.toml
Due: none

ISSUE#3729: chore(uv): adjust uv version range to >=0.10,<0.12 in scripts and documentation (#3731)
  README.md
  ci/generate_code.sh
  pyproject.toml
Due: none

RHOAIENG-64520: add missing urllib3>=2.7.0 override to codeserver pyproject.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHOAIENG-64491: restore CVE-2026-44432 reference removed in prior commit
  dependencies/cve-constraints.txt
Due: none

update check-payload to 0.3.14 and remove skopeo filter
  scripts/check-payload/config.toml
  scripts/check-payload/go.mod
  scripts/check-payload/go.sum
Due: none

Bump urllib3 to 2.7.0 for CVE-2026-44431 and CVE-2026-44432 (#3728)
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/cve-constraints.txt
  docs/cves/python.md
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  uv.lock
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update lock files and ImageStream dependency annotations
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/requirements.cuda.txt
  jupyter/minimal/ubi9-python-3.12/requirements.rocm.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(ci): point setup-go cache at scripts/buildinputs/go.mod
  .github/workflows/piplock-renewal.yaml
Due: none

fix(ci): point setup-go cache at scripts/buildinputs/go.mod (#3736)
  .github/workflows/piplock-renewal.yaml
Due: none

RHAIENG-5016: prefix Renovate PR titles on non-main branches (#3724) (#2287)
  .github/renovate.json5
Due: none

RHAIENG-5016: prefix Renovate PR titles on non-main branches (#3724) (#2289)
  .github/renovate.json5
Due: none

[rhoai-2.25] Pin dependencies
  .github/actions/install-podman-action/action.yml
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/create-release.yaml
  .github/workflows/docs.yaml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/notebook-digest-updater.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/notebooks-release.yaml
  .github/workflows/notify-team-to-review-pr.yml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/software-versions.yaml
  .github/workflows/sync-branches-through-pr.yml
  .github/workflows/test-install-podman.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

[rhoai-3.4] Update github-actions
  .github/actions/install-podman-action/action.yml
  .github/actions/playwright-test/action.yml
  .github/actions/setup-uv/action.yml
  .github/workflows/build-browser-tests.yaml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/security.yaml
  .github/workflows/sync-branches-through-pr.yml
Due: none

chore(ci): add pinact CI check and ADR 0008 (from ODH #3271)
  .github/AGENTS.md
  .github/workflows/code-quality.yaml
  CONTRIBUTING.md
  Makefile
  docs/architecture/decisions/0008-harden-github-actions-pin-sha-digests.md
Due: none

chore(ci): normalize GitHub Actions pin comments with pinact (ODH #3271)
  .github/actions/install-podman-action/action.yml
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/create-release.yaml
  .github/workflows/docs.yaml
  .github/workflows/gemini-pr-review.yml
  .github/workflows/notebook-digest-updater.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/notebooks-release.yaml
  .github/workflows/notify-team-to-review-pr.yml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/software-versions.yaml
  .github/workflows/sync-branches-through-pr.yml
  .github/workflows/test-install-podman.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
  Agents.md
Due: none

RHAIENG-4999: Add CodeQL and Semgrep SAST workflows (#3570)
  .github/workflows/codeql.yaml
  .github/workflows/semgrep.yaml
Due: none

RHAIENG-5000: add gitleaks secret scanning (#3663)
  .github/workflows/gitleaks.yaml
  .pre-commit-config.yaml
Due: none

RHAIENG-4999: Add golangci-lint to Go CI (#3571)
  .github/workflows/code-quality.yaml
  scripts/buildinputs/.golangci.yml
Due: none

RHAIENG-4999: Fix CodeQL Go analysis warnings (#3615)
  .github/workflows/codeql.yaml
  scripts/check-payload/tools.go
Due: none

fix: use --password-stdin for skopeo login in pr-merge-image-delete (CWE-214) (#3594)
  .github/workflows/pr-merge-image-delete.yml
Due: none

chore(pre-commit): enable check-executables-have-shebangs (from ODH #3572)
  .pre-commit-config.yaml
  ci/cached-builds/gha_lvm_overlay.sh
Due: none

chore(pre-commit): widen ruff hook file scope (from ODH #3584)
  .pre-commit-config.yaml
Due: none

RHAIENG-5305: add missing urllib3>=2.7.0 override to codeserver pyproject.toml
  codeserver/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5305: fix ticket reference in codeserver pyproject.toml comment
  codeserver/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5304: add missing urllib3>=2.7.0 override to codeserver pyproject.toml
  codeserver/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5303: CVE-2026-44431 urllib3 information disclosure via cross-origin redirects
  dependencies/cve-constraints.txt
Due: none

chore: sync semgrep.yaml, .gitleaks.toml, and .gitleaksignore from security-config
  .gitleaks.toml
  .gitleaksignore
  semgrep.yaml
Due: none

fix(ci): address CodeRabbit review on checkout credential handling
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/software-versions.yaml
  .github/workflows/test-install-podman.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

Add nonhermetic PyPI-configured Jupyter + CodeServer Dockerfiles for BU spike
  codeserver/ubi9-python-3.12-pypi/Dockerfile
  jupyter/minimal/ubi9-python-3.12-pypi/Dockerfile
Due: none

Fix CodeServer PyPI image for OpenShift: nginx proxy on port 8888
  codeserver/ubi9-python-3.12-pypi/Dockerfile
  codeserver/ubi9-python-3.12-pypi/start-codeserver.sh
Due: none
