Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHAIENG-3349: ci(Dockerfile.konflux): begin building them in PRs (#3000)
  .github/workflows/build-notebooks-pr-aipcc.yaml
Due: none

RHAIENG-3346: chore(Dockerfile.konflux): add missing files, there seems to be some divergence between ODH and RHDS that accumulated over time (#3000)
  codeserver/ubi9-python-3.12/s390x.patch
  jupyter/utils/install_pandoc.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-2846: Add prefetch input data for hermetic codeserver build
  .github/workflows/code-quality.yaml
  .gitignore
  .gitmodules
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/repos/centos.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/epel.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/rhsm-pulp.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/ubi.repo
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.in.yaml
  codeserver/ubi9-python-3.12/run-code-server.sh
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-requirements-lockfile.sh
  scripts/lockfile-generators/create-rpm-lockfile.sh
  scripts/lockfile-generators/helpers/download-rpms.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-npm.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  scripts/lockfile-generators/helpers/rpm-lockfile-generate.sh
  scripts/lockfile-generators/patches/apply-patches.sh
  scripts/lockfile-generators/patches/rpm-lockfile-prototype-dnf-conf.patch
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2846 [3/3]: Hermetic Dockerfile + build patches + Tekton for codeserver
  .dockerignore
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.vath
  codeserver/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/apply-patch.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/microsoft-authentication/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/s390x.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/test/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/test/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/codeserver-offline-env.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/setup-offline-binaries.sh
  docs/hermetic-guide.md
  scripts/sandbox.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: reduce V8 heap budget and free root disk for GHA codeserver builds
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  scripts/lockfile-generators/post-prefetch.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: reduce swap to 4 GB and V8 heap to 2048 to prevent GHA runner death
  .github/workflows/build-notebooks-TEMPLATE.yaml
  ci/cached-builds/gha_lvm_overlay.sh
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: bump MAX_OLD_SPACE_SIZE back to 3072 (2048 too low for arm64)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

ramya-rao-a-css-parser-vscode
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: split main/worker V8 heap — worker needs 4096 on arm64
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: bump main gulp heap to 3072 — mangler phase needs >2048
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: universal V8 heap budget — main=2560 worker=3584
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: limit mangler workers (4→1) — hidden memory consumers causing OOM
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: ARG default referencing another ARG — podman ignores --build-arg
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-3347: chore(dockerfile_fragments.py): shift a comment around to unify Dockerfile and Dockerfile.konflux files
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  scripts/dockerfile_fragments.py
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
Due: none

fix(trustyai): build failure in pytorch compilation on ppc64le
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

fix(torch): we've had the 2.9.0 removed from the AIPCC index, need to use 2.9.1
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  tests/test_main.py
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(trustyai): compilation failures reported by testops
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

fix(codeserver): build failure in auditwheel install, it's not in aipcc index and has to come from PyPI
  codeserver/ubi9-python-3.12/devel_env_setup.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix(sandbox): improve error reporting for missing Dockerfile dependencies
  scripts/sandbox.py
Due: none

Update lock files
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-3350: fix(devel_env_setup.sh): merge changes from main because automerge failed (#1922)
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

AIPCC-11072: chore(tests): exclude NVIDIA CTK dependencies and the known issue in Workbench image tests (#1658)
  tests/containers/base_image_test.py
Due: none

AIPCC-6903: chore(Dockerfile.rocm): remove traces of formerly needed permissions workaround (#1658)
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

RHAIENG-3347: chore(Dockerfile): remove stale comment (#1658)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

RHAIENG-3347: chore(minimal): align pdf deps install between Dockerfile and Dockerfile.konflux
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-3347: tests(cuda): allow ldd to find torch libs
  tests/containers/base_image_test.py
Due: none

fix(jupyterlab-git): Git commands timeout increased to 120s
  jupyter/utils/jupyter_server_config.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-3206: test(manifests): silent overwrite could've masked duplicate/conflicting kustomization replacement entries
  tests/test_main.py
Due: none

RHAIENG-3206: test(manifests): silent overwrite could've masked duplicate/conflicting kustomization replacement entries (#2993)
  tests/test_main.py
Due: none

RHAIENG-3206: chore(manifests/base): add script to on-demand generate `kustomization.yaml`
  manifests/README.md
  manifests/base/generate_kustomization.py
Due: none

chore(ci): update `generate_code.sh` to include `generate_kustomization.py` script
  ci/generate_code.sh
Due: none

implement the code move under manifests/tools/ as suggested in review
  ci/generate_code.sh
  manifests/README.md
  manifests/tools/generate_kustomization.py
Due: none

add markdown language tag
  manifests/README.md
Due: none

zip strict=True
  manifests/tools/generate_kustomization.py
Due: none
