Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-minimal-cpu-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

Added inventory table with the list of images
  README.md
Due: none

add 2025b label on the dockerfile
  .tekton/multiarch-pull-request-pipeline.yaml
  .tekton/multiarch-push-pipeline.yaml
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
Due: odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push

RHAIENG-1193: codeserver(repo): update vscode extensions for 2025b release from Open VSX Registry
  codeserver/Extensions.md
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/utils/ms-python.debugpy-2025.4.1@linux-x64.vsix
  codeserver/ubi9-python-3.12/utils/ms-python.python-2025.14.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-python.python-2025.2.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.2.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.8.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-keymap-1.1.2.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-renderers-1.1.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.vscode-jupyter-cell-tags-0.1.9.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.vscode-jupyter-slideshow-0.1.6.vsix
Due: none

RHAIENG-1193: codeserver(repo): update vscode extensions for 2025b release from Open VSX Registry (#2518)
  codeserver/Extensions.md
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/utils/ms-python.debugpy-2025.4.1@linux-x64.vsix
  codeserver/ubi9-python-3.12/utils/ms-python.python-2025.14.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-python.python-2025.2.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.2.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.8.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-keymap-1.1.2.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-renderers-1.1.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.vscode-jupyter-cell-tags-0.1.9.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.vscode-jupyter-slideshow-0.1.6.vsix
Due: none

NO-JIRA: tests(buildinputs) improve project root detection, also `Dockerfile.*` detection
  scripts/buildinputs/buildinputs_test.go
Due: none

NO-JIRA: tests(buildinputs) implement a `heredoc.Doc()` helper to dedent backtick-strings
  scripts/buildinputs/buildinputs_test.go
  scripts/buildinputs/go.mod
  scripts/buildinputs/heredoc.go
  scripts/buildinputs/heredoc_test.go
Due: none

Fix typos
  manifests/base/runtime-rocm-tensorflow-imagestream.yaml
  manifests/base/runtime-tensorflow-imagestream.yaml
Due: none

Issue #1789: chore(repo): set up lfs for vscode extensions vendored into the repo (#2516)
  .gitattributes
  README.md
  codeserver/Extensions.md
Due: none

update all runtimes imagestreams name to reflect to the new naming format
  manifests/base/runtime-datascience-imagestream.yaml
  manifests/base/runtime-minimal-imagestream.yaml
  manifests/base/runtime-pytorch-imagestream.yaml
  manifests/base/runtime-rocm-pytorch-imagestream.yaml
  manifests/base/runtime-rocm-tensorflow-imagestream.yaml
  manifests/base/runtime-tensorflow-imagestream.yaml
Due: none

Issue #1789: chore(repo): add a conditional git-lfs checkout in github actions when needed (#2516)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Issue #2521: fix(scripts/buildinputs): fix build input detection to deal with mounts
  scripts/buildinputs/buildinputs.go
  scripts/buildinputs/buildinputs_test.go
  scripts/buildinputs/dockerfile.go
  scripts/buildinputs/go.mod
  scripts/buildinputs/go.sum
  scripts/sandbox.py
Due: none

Make codeserver multiarch supported and increase the build vm
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: none

RHAIENG-1247: chore(codeserver): konflux dockerfile to incorporate odh-io/notenooks changes (#1582)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

RHAIENG-1247: chore(codeserver): konflux dockerfile to incorporate odh-io/notenooks changes
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

chore(dockerfiles): manually sync all konflux Dockerfiles with changes in odh-io (#1575)
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: tests(buildinputs) improve project root detection, also `Dockerfile.*` detection (#2522)
  scripts/buildinputs/buildinputs_test.go
Due: none

NO-JIRA: tests(buildinputs) implement a `heredoc.Doc()` helper to dedent backtick-strings (#2522)
  scripts/buildinputs/buildinputs_test.go
  scripts/buildinputs/go.mod
  scripts/buildinputs/heredoc.go
  scripts/buildinputs/heredoc_test.go
Due: none

Issue #2521: fix(scripts/buildinputs): fix build input detection to deal with mounts (#2522)
  scripts/buildinputs/buildinputs.go
  scripts/buildinputs/buildinputs_test.go
  scripts/buildinputs/dockerfile.go
  scripts/buildinputs/go.mod
  scripts/buildinputs/go.sum
  scripts/sandbox.py
Due: none

[rhoai-2.25] cuda images should be amd64 only (#1584)
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-pull-request.yaml
Due: none

[rhds/main] cuda images should be amd64 only (#1585)
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-pull-request.yaml
Due: none

Remove supervisord and fcgi from rstudio
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/httpd/httpd.conf
  rstudio/c9s-python-3.11/httpd/rstudio-cgi.conf
  rstudio/c9s-python-3.11/nginx/serverconf/proxy.conf.template
  rstudio/c9s-python-3.11/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/c9s-python-3.11/run-rstudio.sh
  rstudio/c9s-python-3.11/supervisord/supervisord.conf
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

update cuda c9s rstudio changes to dockerfile
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Add ppc64le changes back which are overwritten by some commits (#1586)
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

Add ppc64le changes back which are overwritten by some commits
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

Add ppc64le changes back which are overwritten by some commits (#2531)
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

Standardize string quotes in `pyproject.toml` dependencies across multiple projects.
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  rstudio/c9s-python-3.11/pyproject.toml
  rstudio/rhel9-python-3.11/pyproject.toml
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Add to rhel
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/c9s-python-3.11/nginx/serverconf/proxy.conf.template
  rstudio/c9s-python-3.11/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/c9s-python-3.11/run-rstudio.sh
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/httpd/httpd.conf
  rstudio/rhel9-python-3.11/httpd/rstudio-cgi.conf
  rstudio/rhel9-python-3.11/nginx/serverconf/proxy.conf.template
  rstudio/rhel9-python-3.11/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/rhel9-python-3.11/run-rstudio.sh
  rstudio/rhel9-python-3.11/supervisord/supervisord.conf
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Standardize string quotes in `pyproject.toml` dependencies across multiple projects. (#2532)
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  rstudio/c9s-python-3.11/pyproject.toml
  rstudio/rhel9-python-3.11/pyproject.toml
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Create .trigger_build.txt (#1587)
  codeserver/ubi9-python-3.12/.trigger_build.txt
Due: none

Clean up dublicates
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
Due: odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Use m2xlarge/arm64 vm to build that image
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
Due: odh-base-image-cuda-12-8-py312-c9s-on-push

mark python 3.11 image as non-notebook
  manifests/overlays/additional/codeserver-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-tensorflow-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-trustyai-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-minimal-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-tensorflow-cuda-py312-ubi9-imagestream.yaml
Due: none

Path conditions:
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
