Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHAIENG-287: fix(Dockerfiles): use wget --progress=dot:giga to avoid Hadolint DL3047 warning
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): add a newline to avoid Hadolint unexpected warning
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): use 2>&1 to avoid Hadolint SC3029 warning
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): use FROM stage alias to avoid Hadolint DL3022 warning
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): use separate export to avoid Hadolint SC2155 warning
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): use targeted inline suppression to avoid Hadolint DL3002 warning
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): use pip install --no-cache-dir to avoid Hadolint DL3042 warning
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: fix(Dockerfiles): use bash or printf to avoid Hadolint SC3037,SC3041 warning
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-287: mirror hadolint fixes to Dockerfile.konflux.* pairs
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update lock files and ImageStream dependency annotations
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

chore(deps): bump root dev dependencies and align pre-commit tooling
  .pre-commit-config.yaml
  pyproject.toml
  tests/containers/conftest.py
  tests/containers/docker_utils.py
  tests/containers/kubernetes_utils.py
  tests/containers/workbenches/workbench_image_test.py
  uv.lock
Due: none

NO-JIRA: chore(deps): bump root dev dependencies and align pre-commit tooling (#4025)
  .pre-commit-config.yaml
  pyproject.toml
  tests/containers/conftest.py
  tests/containers/docker_utils.py
  tests/containers/kubernetes_utils.py
  tests/containers/workbenches/workbench_image_test.py
  uv.lock
Due: none

Update lock files and ImageStream dependency annotations (#4023)
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6157: add jupyter and notebook to Code Server image
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  tests/containers/workbenches/codeserver/codeserver_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Fix pyright suppressions in codeserver container tests.
  tests/containers/workbenches/codeserver/codeserver_test.py
Due: none

Add timeout to jupyter kernelspec check in codeserver test.
  tests/containers/workbenches/codeserver/codeserver_test.py
Due: none

Update ODH rpms.lock.yaml lock files (#4018)
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Pin disconnected readiness check workflow version and fix lints
  .github/workflows/disconnected-readiness.yml
Due: none

RHAIENG-6163: fix(ci): rename golangci-lint step to unblock Renovate digest updates
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6163: fix(ci): scope golangci-lint pinDigests exception to uses-with
  .github/renovate.json5
Due: none

RHAIENG-6163: fix(ci): disable digest pinning for golangci-lint uses-with dep
  .github/renovate.json5
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6163: fix(ci): drop matchDepTypes from golangci-lint pinDigests rule
  .github/renovate.json5
Due: none

RHAIENG-6163: fix(ci): disable pinDigest updates for golangci-lint uses-with
  .github/renovate.json5
Due: none

RHAIENG-6163: fix(ci): exclude golangci-lint from github-actions pinDigests group
  .github/renovate.json5
Due: none

RHAIENG-6163: fix(ci): restore Cilium pinDigests rule for golangci-lint
  .github/renovate.json5
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6163: fix(ci): replace golangci-lint-action with go install
  .github/renovate.json5
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6163: fix(ci): disable github-actions extraction of golangci-lint
  .github/renovate.json5
Due: none

RHAIENG-6163: fix(ci): disable digest pinning for golangci-lint uses-with dep (#4031)
  .github/renovate.json5
Due: none

Update github-actions
  .github/actions/setup-uv/action.yml
  .github/workflows/build-browser-tests.yaml
  .github/workflows/build-buildinputs.yaml
  .github/workflows/build-check-payload.yaml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/purge-ghcr.yaml
  .github/workflows/rpms-lock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/stale-prs.yaml
  .github/workflows/test-containers.yaml
  .github/workflows/test-playwright-action.yaml
Due: none

fix(codeserver): use regex location with correct proxy_pass for Gateway API support
  codeserver/ubi9-python-3.12/nginx/serverconf/proxy.conf.template
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update github-actions (#4032)
  .github/actions/setup-uv/action.yml
  .github/workflows/build-browser-tests.yaml
  .github/workflows/build-buildinputs.yaml
  .github/workflows/build-check-payload.yaml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/purge-ghcr.yaml
  .github/workflows/rpms-lock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/stale-prs.yaml
  .github/workflows/test-containers.yaml
  .github/workflows/test-playwright-action.yaml
Due: none

increase build machines for codeserver tekton builds
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-pull-request.yaml
Due: none

NO-JIRA: chore(jupyter/utils/addons): drop webpack-dev-server
  jupyter/utils/addons/README.md
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
  jupyter/utils/addons/pnpm-workspace.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(jupyter/utils/addons): bump PatternFly and webpack deps
  jupyter/utils/addons/dist/pf.css
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(jupyter/utils/addons): drop stale pnpm overrides
  jupyter/utils/addons/.dockerignore
  jupyter/utils/addons/.gitignore
  jupyter/utils/addons/README.md
  jupyter/utils/addons/pnpm-lock.yaml
  jupyter/utils/addons/pnpm-workspace.yaml
  jupyter/utils/addons/webpack.config.ts
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: ci(jupyter/utils/addons): add path-filtered pnpm test workflow
  .github/workflows/test-addons.yaml
  docs/cves/nodejs.md
Due: none

NO-JIRA: chore(jupyter/utils/addons): pin pnpm via devEngines onFail download
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: ci: set timeout for test-addons workflow
  .github/workflows/test-addons.yaml
Due: none

NO-JIRA: chore(jupyter/utils/addons): enforce removal of SVG assets in build
  jupyter/utils/addons/test-build.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push
