Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

NO-JIRA: test: add Hypothesis properties for patch excerpt and SARIF sanitize
  .cursor/rules/test-conventions.mdc
  ci/agentic-reviewer/src/odh_ci_agent/patch_excerpt.py
  ci/agentic-reviewer/tests/unit/test_patch_excerpt.py
  docs/agents/testing.md
  pyproject.toml
  pytest.ini
  tests/unit/test_property_helpers.py
  uv.lock
Due: none

NO-JIRA: docs(ci/agentic-reviewer): add PEP 316 contracts to patch_excerpt
  ci/agentic-reviewer/src/odh_ci_agent/patch_excerpt.py
Due: none

NO-JIRA: chore: add optional CrossHair backend for Hypothesis tests
  .cursor/rules/test-conventions.mdc
  Makefile
  docs/agents/testing.md
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: none

NO-JIRA: fix(ci/agentic-reviewer): split patch excerpts on newline only
  ci/agentic-reviewer/src/odh_ci_agent/patch_excerpt.py
  ci/agentic-reviewer/tests/unit/test_patch_excerpt.py
  tests/unit/test_property_helpers.py
Due: none

NO-JIRA: docs: ADR 0016 — property-based testing and contracts
  docs/architecture/decisions/0016-property-based-testing-and-contracts.md
Due: none

NO-JIRA: fix(tests): anchor ellipsis by position in patch excerpt property test
  tests/unit/test_property_helpers.py
Due: none

NO-JIRA: fix(tests): assert exact SARIF endColumn repair, not just >= 1
  tests/unit/test_property_helpers.py
Due: none

revert: remove post-codefreeze-gatekeeper workflow from main
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

NO-JIRA: docs: renumber ADR 0016 -> 0017, mark Proposed
  docs/architecture/decisions/0017-property-based-testing-and-contracts.md
Due: none

NO-JIRA: test: add Hypothesis properties for patch excerpt and SARIF sanitize (#4174)
  .cursor/rules/test-conventions.mdc
  Makefile
  ci/agentic-reviewer/src/odh_ci_agent/patch_excerpt.py
  ci/agentic-reviewer/tests/unit/test_patch_excerpt.py
  docs/agents/testing.md
  docs/architecture/decisions/0017-property-based-testing-and-contracts.md
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/unit/test_property_helpers.py
  uv.lock
Due: none

Add safeguard for overriding kale settings
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

NO-JIRA: chore(deps): bump ruff pre-commit hook to v0.16.2
  .pre-commit-config.yaml
  uv.lock
Due: none

NO-JIRA: ci(ruff): convert rule codes to names in pyproject.toml
  pyproject.toml
Due: none

NO-JIRA: ci: bump Trivy scanner to 0.73.0
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: style: convert noqa comments to symbolic ruff: ignore syntax
  base-images/copr/src/copr_rebuild/models.py
  ci/agentic-reviewer/src/odh_ci_agent/fetch_pr_source_snapshot.py
  ci/agentic-reviewer/src/odh_ci_agent/prepare_review_context.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/makefile_helper.py
  ci/expected_image_metadata_schema.py
  ci/security-scan/quay_security_analysis.py
  jupyter/datascience/ubi9-python-3.12/utils/jupyter_elyra_config.py
  jupyter/rocm/tensorflow/ubi9-python-3.12/test/test_notebook.ipynb
  manifests/tools/generate_envs.py
  manifests/tools/update_imagestream_annotations_from_pylock.py
  scripts/cve/jira_auth.py
  tests/containers/base_image_test.py
  tests/containers/conftest.py
  tests/containers/docker_utils.py
  tests/containers/manifest_validation_test.py
  tests/containers/pydantic_schemas/podman_info.py
  tests/containers/runtimes/runtime_test.py
  tests/containers/workbenches/codeserver/codeserver_test.py
  tests/containers/workbenches/gpu_library_loading_test.py
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
  tests/containers/workbenches/jupyterlab/libraries_testunits.py
  tests/containers/workbenches/jupyterlab/protobuf_testunits.py
  tests/manifests.py
  tests/pytest_tutorial/test_01_intro.py
  tests/unit/scripts/cve/test_jira_auth.py
  tests/unit/scripts/test_pylocks_generator.py
  tests/unit/test_configure_kale_from_elyra.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

NO-JIRA: chore: uv lock --upgrade
  uv.lock
Due: none

NO-JIRA: fix(tests): use testcontainers.core.docker_client.DockerClient
  tests/containers/conftest.py
  tests/containers/workbenches/workbench_image_test.py
Due: none

ci(security): scan rhoai-* branches, sweep active releases on schedule
  .github/workflows/security.yaml
Due: none

ci(security): disable persist-credentials on checkout steps
  .github/workflows/security.yaml
Due: none

RHOAIENG-81302: Add _kale output directory in Kale setup (#4357)
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

chore: remove Kubeflow-Training v1 SDK annotations from imagestreams
  manifests/odh/base/code-server-notebook-imagestream.yaml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

ci(security): scan rhoai-* branches, sweep active releases on schedule (#4368)
  .github/workflows/security.yaml
Due: none

fix(jupyter): use startup probes for slow workbench startup (#4324)
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

fix(jupyter): extend startupProbe to remaining workbench StatefulSets
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/tensorflow/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/tensorflow/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

ci: add GitHub Code Quality coverage (Python + Go) alongside Codecov (#4308)
  .github/workflows/code-quality.yaml
Due: none

ci(renovate): manage ODH BASE_IMAGE digests on upstream main
  .github/renovate.json5
  docs/architecture/decisions/0013-renovate-mintmaker-and-self-hosted-github-actions.md
  scripts/ci/validate_renovate_config.py
Due: none

fix(ci): unbreak Renovate validation after ODH BASE_IMAGE rules
  scripts/ci/validate_renovate_config.py
  scripts/ci/validate_renovate_dry_run.py
  tests/unit/scripts/ci/renovate_config_testdata.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_dry_run.py
Due: none

ci(renovate): manage ODH BASE_IMAGE digests on upstream main (#4335)
  .github/renovate.json5
  docs/architecture/decisions/0013-renovate-mintmaker-and-self-hosted-github-actions.md
  scripts/ci/validate_renovate_config.py
  scripts/ci/validate_renovate_dry_run.py
  tests/unit/scripts/ci/renovate_config_testdata.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_dry_run.py
Due: none

feat: add gatekeeper workflow to main (pull_request_target) (#2747)
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

RHOAIENG-81891: chore: remove Kubeflow-Training v1 SDK annotations from imagestreams (#4360)
  manifests/odh/base/code-server-notebook-imagestream.yaml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

Update pylock lock files
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/requirements.cuda.txt
  jupyter/minimal/ubi9-python-3.12/requirements.rocm.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update ODH rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update RHDS rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update github-actions to v10
  .github/actions/setup-uv/action.yml
Due: none

chore: use floating v1 tag for disconnected readiness workflow
  .github/workflows/disconnected-readiness.yml
Due: none

feat: onboard onto ClusterBot (ci-chat-bot) for interactive testing
  .agents/plugins/cluster-provisioning/skills/cluster-bot/SKILL.md
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/dsc-minimal-workbenches.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/dsci-default.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/notebook-minimal.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/operatorgroup-rhods.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/rhoai-operator-sub-pinned.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/rhoai-operator-sub.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/recipes/rhoai-3.4-minimal-bench.md
  scripts/cluster-bot-prow-watch.sh
  scripts/cluster-bot-rhoai-bench.sh
Due: none

fix: address CodeRabbit/CodeQL findings on cluster-bot onboarding PR
  .agents/plugins/cluster-provisioning/skills/cluster-bot/SKILL.md
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/dsc-minimal-workbenches.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/dsci-default.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/notebook-minimal.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/operatorgroup-rhods.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/rhoai-operator-sub-pinned.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/fixtures/rhoai-operator-sub.yaml
  .agents/plugins/cluster-provisioning/skills/cluster-bot/recipes/rhoai-3.4-minimal-bench.md
  scripts/cluster-bot-prow-watch.sh
  scripts/cluster-bot-rhoai-bench.sh
Due: none

fix: address CodeRabbit round-2 findings on cluster-bot onboarding PR
  .agents/plugins/cluster-provisioning/skills/cluster-bot/SKILL.md
  .agents/plugins/cluster-provisioning/skills/cluster-bot/recipes/rhoai-3.4-minimal-bench.md
  scripts/cluster-bot-rhoai-bench.sh
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
