Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-minimal-cpu-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-rstudio-minimal-cpu-py311-c9s:{{revision}}
  - name: dockerfile
    value: rstudio/c9s-python-3.11/Dockerfile.cpu
  ...

Install also pandoc on power from epel9 package
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Split PDF build into separate TeX Live and Pandoc scripts
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Add TeX Live install for ppc64le
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Improve TeX Live and Pandoc setup to compile pandoc from sources
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update PATH to support TeX Live for both ppc64le and x86_64
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

Add cleanup for the pandoc build directory and tweak TeX Live & Pandoc install
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Add else condition for unsupported arch in install scripts
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

install TeX Live runtime via profile for ppc64le
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Add PDF builder stage support to Python 3.12 minimal image
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

Fix TeX Live PATH for multi-arch support (x86_64, ppc64le)
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Remove the `--no-check-certificate` wget flag because texlive mirror seems to now work correctly
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Use COPY from builder image to install latex in the minimal workbench
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

Enable ppc64le in github actions and in konflux, subject to further review
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  ci/cached-builds/gen_gha_matrix_jobs.py
  scripts/generate_pull_request_pipelineruns.py
Due: none

Align the latex and pandoc installing scripts
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_pdf_deps.sh
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-5114: feat(ppc64le): skip the latex installation to allow to build jupyter-minimal workbench images for Power (#1966)
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  jupyter/utils/install_pdf_deps.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Enable s390x support for runtime-datascience (Python 3.12)
  ci/cached-builds/gen_gha_matrix_jobs.py
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
Due: none

Update Pipfile.lock for Python 3.12
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/pylock.toml
Due: none

fixup for the base-images merge
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

fixup excluded deps
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
Due: none

update konflux conf
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  scripts/generate_pull_request_pipelineruns.py
Due: none

Update .konflux dockerfiles to comply with ARGs
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-31406: enable Runtime Datascience Images for IBM Z[s390x] (Python 3.12) (#1513)
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  ci/cached-builds/gen_gha_matrix_jobs.py
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  scripts/generate_pull_request_pipelineruns.py
Due: none

refactor: improve architecture detection and feature support handling in tests
  tests/containers/architecture_support.py
  tests/containers/architecture_utils.py
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

Update Runtime Datascience Dockerfile with ppc64le changes
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
Due: none

run konflux
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  scripts/generate_pull_request_pipelineruns.py
Due: none

relock
  runtimes/datascience/ubi9-python-3.12/pylock.toml
Due: none

fixup FROM names
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

fixup shell syntax
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

fixup ppcle on img switch konflux
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  scripts/generate_pull_request_pipelineruns.py
Due: none

feat(ppc64le): build runtime datascience image on ppc64le (#2215)
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  scripts/generate_pull_request_pipelineruns.py
Due: none

update Dockerfile.cpu to enable ppc64le architecture
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: none

set cmake args to use correct python from venv
  codeserver/ubi9-python-3.12/devel_env_setup.sh
Due: none

fixup pr pipeline script entry
  scripts/generate_pull_request_pipelineruns.py
Due: none

Add logic on the build_image function to filter out the comments
  Makefile
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHOAIENG-33169: remove MSSQL Client installation and related configurations from Dockerfiles
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/mssql-2022.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

feat(ppc64le) codeserver workbench image build on power (#2317)
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  scripts/generate_pull_request_pipelineruns.py
Due: none

update manifests for 2025b onboarding
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/commit-latest.env
  manifests/base/commit.env
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/base/kustomization.yaml
  manifests/base/params-latest.env
  manifests/base/params.env
  manifests/base/runtime-datascience-imagestream.yaml
  manifests/base/runtime-minimal-imagestream.yaml
  manifests/base/runtime-pytorch-imagestream.yaml
  manifests/base/runtime-rocm-pytorch-imagestream.yaml
  manifests/base/runtime-rocm-tensorflow-imagestream.yaml
  manifests/base/runtime-tensorflow-imagestream.yaml
  manifests/overlays/additional/codeserver-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-tensorflow-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-trustyai-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/kustomization.yaml
  manifests/overlays/additional/runtime-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-minimal-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-tensorflow-cuda-py312-ubi9-imagestream.yaml
Due: none

add 2025b label on the dockerfile
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
Due: odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push

optimize dockerfile for ppc64le
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

RHOAIENG-33169: remove MSSQL Client installation and related configurations from Dockerfiles (#2324)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/mssql-2022.repo
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Path conditions:
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
