Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

fix(base-images): refresh centos stream9 digest to current quay tag
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/7.1/c9s-python-3.12/Dockerfile.rocm
Due: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push

fix(ci): pin CentOS Stream 9 base images and document EL9-only policy (#3910)
  .github/renovate.json5
  AGENTS.md
  ARCHITECTURE.md
  base-images/README.md
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/7.1/c9s-python-3.12/Dockerfile.rocm
  scripts/ci/validate_renovate_config.py
  tests/unit/scripts/ci/renovate_config_testdata.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
Due: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push

Update ODH rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-12.9-el9.6 to v3.5.0-1782270039
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-13.0-el9.6 to v3.5.0-1782270034
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Update github-actions to v6
  .github/actions/install-podman-action/action.yml
  .github/workflows/code-quality.yaml
  .github/workflows/semgrep.yaml
Due: none

RHAIENG-5847, RHAIENG-5848: fix(tests): cap setuptools<81, pin llmcompressor>=0.11.0, fix torchaudio test
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/odh-notebooks-meta-jupyterlab-deps/pyproject.toml
  dependencies/odh-notebooks-meta-llmcompressor-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/requirements.cuda.txt
  jupyter/minimal/ubi9-python-3.12/requirements.rocm.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  tests/containers/workbenches/jupyterlab/libraries_testunits.py
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-5847: fix(tests): cap setuptools<80.9 to silence pkg_resources warning
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/odh-notebooks-meta-jupyterlab-deps/pyproject.toml
  dependencies/odh-notebooks-meta-llmcompressor-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/requirements.cpu.txt
  jupyter/minimal/ubi9-python-3.12/requirements.cuda.txt
  jupyter/minimal/ubi9-python-3.12/requirements.rocm.txt
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Fix systemctl unmask --now on systemd 259 (ubuntu-26.04)
  .github/actions/install-podman-action/action.yml
Due: none

Migrate all GHA runners from ubuntu-24.04 to ubuntu-26.04
  .github/ACTIONS.md
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/build-browser-tests.yaml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/check-image-availability.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/codeql.yaml
  .github/workflows/create-release.yaml
  .github/workflows/docs.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/insta-merge.yaml
  .github/workflows/merge-main-to-stable-fast-forward.yaml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/pr-notifications.yml
  .github/workflows/purge-ghcr.yaml
  .github/workflows/renovate-self-hosted.yaml
  .github/workflows/rpms-lock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/software-versions.yaml
  .github/workflows/stale-prs.yaml
  .github/workflows/sync-branches-through-pr.yml
  .github/workflows/test-containers.yaml
  .github/workflows/test-install-podman.yaml
  .github/workflows/test-playwright-action.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-setup-uv.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
  .github/workflows/validate-renovate-config.yaml
  codeserver/ubi9-python-3.12/prefetch-input/patches/tweak-gha.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Fix AppArmor/pasta conflict and Rootless KeyError on ubuntu-26.04
  .github/workflows/test-containers.yaml
  tests/containers/workbenches/workbench_image_test.py
Due: none

Fix AppArmor pasta/podman signal conflict without removing profile
  .github/workflows/test-containers.yaml
Due: none

ISSUE #3872: fix(gha): reuse capture-kernel-logs action in test-containers
  .github/workflows/test-containers.yaml
Due: none

ISSUE #3872: test: document podman-only Rootless info lookup
  tests/containers/workbenches/workbench_image_test.py
Due: none

ISSUE #3909: fix(.github): name kernel log upload artifacts explicitly
  .github/actions/capture-kernel-logs/action.yml
Due: none

ISSUE #3872: chore(.github): add actionlint config for ubuntu-26.04 labels
  .github/ACTIONS.md
  .github/actionlint.yaml
Due: none

fix(disconnected): add params-env-wiring exclusions for operator-managed images
  .disconnected-readiness.yaml
Due: none

ISSUE #3919: test(gha): add container IP and DNS checks to test-install-podman
  .github/workflows/test-install-podman.yaml
Due: none

ISSUE #3919: test(gha): add container IP and DNS checks to test-install-podman (#3923)
  .github/workflows/test-install-podman.yaml
Due: none

ISSUE #3919: chore(gha): use system Podman on ubuntu-26.04 runners
  .github/ACTIONS.md
  .github/AGENTS.md
  .github/actions/install-podman-action/action.yml
  ci/cached-builds/containers.conf
  ci/cached-builds/podman.service
Due: none

ISSUE #3919: fix(gha): podman container DNS and ODH prefetch subscription leak
  .github/ACTIONS.md
  .github/actions/install-podman-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  ci/cached-builds/containers.conf
Due: none

ISSUE #3919: fix(gha): recreate podman storage tmp after system reset
  .github/actions/install-podman-action/action.yml
Due: none

ISSUE #3919: fix(gha): restore podman egress on GHA runners
  .github/ACTIONS.md
  .github/actions/install-podman-action/action.yml
Due: none

ISSUE #3919: fix(gha): chown podman storage after rootful system reset
  .github/actions/install-podman-action/action.yml
Due: none

ISSUE #3919: fix(gha): tighten podman install action per review
  .github/ACTIONS.md
  .github/AGENTS.md
  .github/actions/install-podman-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/rpms-lock-renewal.yaml
  .github/workflows/test-install-podman.yaml
  ci/cached-builds/containers.conf
  ci/cached-builds/podman.socket
Due: none

test(ci): add build-profile investigation for permissions timing (#3928)
  .github/workflows/investigate-build-profile.yaml
  ci/build-profile/chmod-gw-count.sh
  ci/build-profile/dnf-benchmark.sh
  ci/build-profile/dockerfiles/dnf-benchmark.Dockerfile.cpu
  ci/build-profile/dockerfiles/minimal-timing.Dockerfile.cpu
  ci/build-profile/dockerfiles/minimal-user1001.Dockerfile.cpu
  ci/build-profile/dockerfiles/pytorch-perm.Dockerfile.cuda
  ci/build-profile/fix-permissions-count
  ci/build-profile/profile-step.sh
  ci/build-profile/run-investigation.sh
Due: none

ci: trigger build-profile investigation on branch push
  .github/workflows/investigate-build-profile.yaml
Due: none

ci: fix upload-artifact pin in build-profile workflow
  .github/workflows/investigate-build-profile.yaml
Due: none

ci: run sandbox.py via uv in build-profile investigation
  ci/build-profile/run-investigation.sh
Due: none

ci: pass sandbox build context placeholder as {};
  ci/build-profile/run-investigation.sh
Due: none

ci: continue build-profile experiments after individual failures
  ci/build-profile/run-investigation.sh
Due: none

ci: always mount cachi2 volumes in build-profile builds
  ci/build-profile/run-investigation.sh
Due: none

ci: fix chmod counter and dnf rpm path in build-profile
  ci/build-profile/chmod-gw-count.sh
  ci/build-profile/dnf-benchmark.sh
  ci/build-profile/run-investigation.sh
Due: none

ci: avoid SIGPIPE in build-profile ownership sample
  ci/build-profile/dockerfiles/minimal-user1001.Dockerfile.cpu
Due: none

docs(ci): add build-profile investigation results (#3928)
  ci/build-profile/RESULTS.md
  ci/build-profile/run-investigation.sh
Due: none

ci: fix arbitrary-UID smoke for rootless podman (#3928)
  ci/build-profile/RESULTS.md
  ci/build-profile/run-investigation.sh
Due: none
