Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-minimal-cpu-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

RHOAIENG-36027: remove EPEL repo from TrustyAI image for ppc64le (#2571)
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

RHOAIENG-36046: revert "Add hdf5 from EPEL to tensorflow images for arm64" (#2574)
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-36105: Release Elyra 4.2.5
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: none

Update devel_env_setup.sh
  codeserver/ubi9-python-3.12/devel_env_setup.sh
Due: none

RHOAIENG-36105: update to Elyra 4.2.5 (#2576)
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Enabled TrustyAI Notebook for s390x
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

Address Comments
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

Removed EPEL from output stage
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
Due: none

Add s390x label for konflux
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
Due: none

chore(tekton): add conditional service account suffix for odh-base-image components and new build-platform entries for specific components
  scripts/generate_pull_request_pipelineruns.py
Due: none

chore(tekton): add arm64 (linux-arm64) build-platform for TensorFlow pipeline
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
Due: none

RHOAIENG-31715: add s390x Support for TrustyAI Notebook (#2568)
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-1475: enablement(s390x): changes for codeserver (#2575)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
Due: none

Add BASE_IMAGE as buildArg for the builds configs
  manifests/base/cuda-rstudio-buildconfig.yaml
  manifests/base/rstudio-buildconfig.yaml
  rstudio/rhel9-python-3.12/build-args/cpu.conf
  rstudio/rhel9-python-3.12/build-args/cuda.conf
Due: none

Switch from aippc to ubi/rhel images for rstudio
  rstudio/rhel9-python-3.12/build-args/cpu.conf
  rstudio/rhel9-python-3.12/build-args/cuda.conf
Due: none

Issue #2580: fix(trusty): set same permissions for group as for owner for OpenShift compatibility
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
Due: none

RHAIENG-670: chore(dependencies): bump Feast version from 0.53.0 to 0.55.0 across all Python 3.12 environments
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

followup, regenerate locks
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

bump Feast version from 0.53 to 0.55 across all jupyter-notebook imagestreams metadata
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
Due: none

RHAIENG-670: chore(dependencies): bump Feast version from 0.53.0 to 0.55.0 across all Python 3.12 environments (#2582)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-31715: add s390x Support for TrustyAI Notebook (#1628)
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-v3-0-push.yaml
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

Issue #2580: fix(trusty): set same permissions for group as for owner for OpenShift compatibility (#2581)
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
Due: none

Upgrade packages for latest stable
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-1475: enable codeserver on s390x architecture (#1627)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

support odh gateway auth with adjusting code-server and rstudio nginx
  codeserver/ubi9-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  codeserver/ubi9-python-3.12/run-nginx.sh
  rstudio/c9s-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/c9s-python-3.12/run-nginx.sh
  rstudio/rhel9-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/rhel9-python-3.12/run-nginx.sh
Due: none

RHAIENG-780: Sanity check to find the diff in Dockerfiles
  Makefile
  scripts/check_dockerfile_alignment.sh
Due: none

RHOAIENG-35553: chore(dependencies): bump Codeflare SDK version from 0.31.1 to 0.32.0 across all Python 3.12 environments
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-35553: chore(dependencies): bump Codeflare SDK version from 0.31.1 to 0.32.0 across all Python 3.12 environments (#2588)
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-287: fix(runtime/datascience): set same permissions for group as for owner for OpenShift compatibility
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

Add missing package updates, change manifests and fix tests
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  tests/test_main.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

RHAIENG-1440: Upgrade packages for latest stable (#2584)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  tests/test_main.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

removed redudant fallback location
  codeserver/ubi9-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  codeserver/ubi9-python-3.12/run-nginx.sh
  rstudio/c9s-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/c9s-python-3.12/run-nginx.sh
  rstudio/rhel9-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/rhel9-python-3.12/run-nginx.sh
Due: none

Disable 2025.1 image for Code Server and Rstudio
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/base/rstudio-notebook-imagestream.yaml
Due: none

fix(datascience): enable Arrow S3 and Substrait support in pyarrow build (#1630)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

Path conditions:
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
