Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-minimal-cpu-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-rstudio-minimal-cpu-py311-c9s:{{revision}}
  - name: dockerfile
    value: rstudio/c9s-python-3.11/Dockerfile.cpu
  ...

feat(ppc64le): remove unnecessary build dependency packages and a stray `pip install ml-dtypes` (#2330)
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

NO-JIRA: add `TARGETARCH` argument on top of various CUDA Dockerfiles for multi-architecture support
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-base-image-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-308: ref(tests): refactor tests to replace `pytest.fail` with assertions for clearer error reporting in `test_main.py`
  tests/test_main.py
Due: none

NO-JIRA: add `TARGETARCH` argument on top of various CUDA Dockerfiles for multi-architecture support (#2334)
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-base-image-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-308: ref(tests): refactor tests to replace `pytest.fail` with assertions for clearer error reporting in `test_main.py` (#2342)
  tests/test_main.py
Due: none

RHAIENG-332: update dependencies for `pytorch+llmcompressor/ubi9-python-3.12` and align on numpy
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  manifests/overlays/additional/jupyter-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  tests/test_main.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

RHAIENG-726: add ROCm-based TensorFlow and pipeline runtime images to manifests
  manifests/base/commit-latest.env
  manifests/base/params-latest.env
Due: none

RHAIENG-726: add ROCm-based TensorFlow and pipeline runtime images to manifests (#2346)
  manifests/base/commit-latest.env
  manifests/base/params-latest.env
Due: none

opendatahub-io/notebooks#1994: remove unnecessary ROCm dependencies across Dockerfiles
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-py312-c9s-on-push

Update odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-v2-25-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-v2-25-push.yaml
Due: none

Update odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-v2-25-push.yaml
Due: none

Update odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
Due: none

Revert "Update odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pu…"
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
Due: none

changing the pipelineref order
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-v2-25-push.yaml
Due: none

opendatahub-io#1976: update params-latest.env to dummy out all image parameters, preventing accidental usage of quay.io images (#1540)
  manifests/base/params-latest.env
Due: none

NO-JIRA: add `TARGETARCH` argument on top of various CUDA Dockerfiles for multi-architecture support (#1529)
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-base-image-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

remove notebooks py311 Konflux pipelineruns files
  .tekton/odh-pipeline-runtime-datascience-cpu-py311-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py311-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py311-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py311-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py311-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py311-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py311-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py311-pull-request.yaml
Due: none

follow up for RHOAIENG-33169: remove MSSQL Client installation and related configurations from Dockerfiles
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

enable ppc64le builds for codeserver
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-pull-request.yaml
Due: none

RHAIENG-332: update dependencies for `pytorch+llmcompressor/ubi9-python-3.12` and align on numpy (#2343)
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  manifests/overlays/additional/jupyter-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  tests/test_main.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

drop 3.11 workbenches pipelines
  .tekton/odh-pipeline-runtime-datascience-cpu-py311-v2-25-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py311-v2-25-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py311-v2-25-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py311-v2-25-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py311-v2-25-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py311-v2-25-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py311-v2-25-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py311-v2-25-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py311-v2-25-push.yaml
Due: none

copied Dockerfile.cpu to Dockerfile.konflux.cpu and updated labels
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

NO-JIRA: allow workflow_dispatch trigger in build-notebooks-push GitHub Actions workflow
  .github/workflows/build-notebooks-push.yaml
Due: none

add perl utility explicitly as it is not preinstalled under aipcc images
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

enable ubi9 repo for updates and instalations
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

use pull_request_target to build PRs from AIPCC bases in rhds/notebooks
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr.yaml
Due: none

Update Pipfile.lock for Python 3.11
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

opendatahub-io/notebooks#1994: remove unnecessary ROCm dependencies across Dockerfiles (#1995)
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-py312-c9s-on-push

Fix check-generated-code test catch
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

Enable ubi9 repo for updates and instalations
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Base downstream images upon AIPCC base images
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Add perl utility as it is not preinstalled under rhel
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Fix python folder permisions for ROCm Dockerfiles
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

Fix permision on pytorch rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

Add trash-cleanup 0.1.0
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

update manifests for 2025b onboarding
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/commit-latest.env
  manifests/base/commit.env
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/base/kustomization.yaml
  manifests/base/params-latest.env
  manifests/base/params.env
  manifests/base/runtime-datascience-imagestream.yaml
  manifests/base/runtime-minimal-imagestream.yaml
  manifests/base/runtime-pytorch-imagestream.yaml
  manifests/base/runtime-rocm-pytorch-imagestream.yaml
  manifests/base/runtime-rocm-tensorflow-imagestream.yaml
  manifests/base/runtime-tensorflow-imagestream.yaml
  manifests/overlays/additional/codeserver-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-minimal-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-pytorch-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-tensorflow-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/jupyter-trustyai-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/kustomization.yaml
  manifests/overlays/additional/runtime-datascience-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-minimal-cpu-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-llmcompressor-cuda-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-pytorch-rocm-py312-ubi9-imagestream.yaml
  manifests/overlays/additional/runtime-tensorflow-cuda-py312-ubi9-imagestream.yaml
Due: none

Reoder the images
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/base/rstudio-notebook-imagestream.yaml
Due: none

add replacement for llm compressor runtime
  manifests/base/kustomization.yaml
Due: none

RHOAIENG-31964: add trash-cleanup 0.1.0 (#2357)
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Path conditions:
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
