Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-minimal-cpu-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

RHOAIENG-34310: support odh gateway auth with adjusting code-server and rstudio nginx (#2585)
  codeserver/ubi9-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  codeserver/ubi9-python-3.12/run-nginx.sh
  rstudio/c9s-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/c9s-python-3.12/run-nginx.sh
  rstudio/rhel9-python-3.12/nginx/serverconf/proxy.conf.template_nbprefix
  rstudio/rhel9-python-3.12/run-nginx.sh
Due: none

RHAIENG-1439: chore: `--ServerApp.tornado_settings` removal (#2572)
  codeserver/ubi9-python-3.12/test/test_startup.py
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/tensorflow/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/tensorflow/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/statefulset.yaml
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

incorporate changes to .konflux dockerfiles
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

re-incorporate changes to minimal notebook from 21e94bd commit
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Re-add pdf-builder on minimal
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_texlive.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-287: fix(runtime/datascience): set same permissions for group as for owner for OpenShift compatibility (#2589)
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: none

RHAIENG-1512: fix(ROCm/TensorFlow) create ourselves a ROCm 6.3.4 base because that's what AIPCC then has for us in rhds
  .tekton/odh-base-image-rocm-6-3-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-push.yaml
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
Due: none

RHAIENG-1512: fix(ROCm/TensorFlow) create ourselves a ROCm 6.3.4 base because that's what AIPCC then has for us in rhds (#2594)
  .tekton/odh-base-image-rocm-6-3-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-push.yaml
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
Due: none

RHAIENG-1512: fix(ROCm/TensorFlow) repository URL to install ROCm 6.3.4 as in AIPCC base image (#2595)
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  tests/test_main.py
Due: none

RHAIENG-670, RHAIENG-1255: remove feast from rocm tensorflow because otherwise we can't align everything together (#2595)
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-1512: fix(ROCm/TensorFlow) onnx 1.19.0 incompatibility AttributeError: module 'ml_dtypes' has no attribute 'float4_e2m1fn'
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
Due: none

Making new env false by default so it will also have effect on runtime images
  runtimes/datascience/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/minimal/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/pytorch/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/rocm-pytorch/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/rocm-tensorflow/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/tensorflow/ubi9-python-3.12/utils/bootstrapper.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

Restoring Dockerfile because we are copying the bootstrapper from local installation
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
Due: none

RHOAIENG-18582: Post ODH Elyra release (v4.3.0)
  jupyter/datascience/ubi9-python-3.12/setup-elyra.sh
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/utils/bootstrapper.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

upd(setup-elyra.sh): enhance script safety with `set -Eeuxo pipefail` and correct directory handling
  jupyter/datascience/ubi9-python-3.12/setup-elyra.sh
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Updating Manifests
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

Copying bootstrapper.py from local python package
  jupyter/datascience/ubi9-python-3.12/setup-elyra.sh
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Bringing back updated bootstrapper.py
  jupyter/datascience/ubi9-python-3.12/setup-elyra.sh
  runtimes/datascience/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/minimal/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/pytorch/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/rocm-pytorch/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/rocm-tensorflow/ubi9-python-3.12/utils/bootstrapper.py
  runtimes/tensorflow/ubi9-python-3.12/utils/bootstrapper.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Updating to Elyra v4.3.0
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

RHAIENG-1504: copy the rhds-only ROCm update for torch back into odh-io (#2597)
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

RHAIENG-1512: fix(make/test): PyTorch ROCm 6.3 tests (#2597)
  tests/test_main.py
Due: none

RHAIENG-347: fix(build-args & manifests): additional accelerator fixes for ROCm (#2597)
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHAIENG-287, Issue #2110: chore(ci): suppress DL3048 in Hadolint configuration for invalid label
  ci/hadolint-config.yaml
Due: none

RHAIENG-1504: sync(Dockerfile): update Dockerfile.konflux for codeserver with odh-io changes for RHAIENG-287 (#1651)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

RHAIENG-287, Issue #2110: chore(ci): suppress DL3048 in Hadolint configuration for invalid label (#2598)
  ci/hadolint-config.yaml
Due: none

RHAIENG-287, AIPCC-6072: fix(tests): exclude MPI libraries from unsatisfied dependency checks in CUDA AIPCC test
  tests/containers/base_image_test.py
Due: none

RHAIENG-287, AIPCC-6072: fix(tests): exclude MPI libraries from unsatisfied dependency checks in CUDA AIPCC test (#2599)
  tests/containers/base_image_test.py
Due: none

RHAIENG-287: fix(tests/llmcompressor): create missing `kustomization.yaml`
  ci/cached-builds/make_test.py
Due: none

RHAIENG-287, #2600: fix two out of the three failing tf rocm tests
  jupyter/rocm/tensorflow/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

RHAIENG-287: fix(tests/llmcompressor): create missing `kustomization.yaml` (#2602)
  ci/cached-builds/make_test.py
Due: none

RHAIENG-287, #2600: fix two out of the three failing TF ROCm tests (#2603)
  jupyter/rocm/tensorflow/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

RHAIENG-287, #2600: chore(rocm/tf): skip conversion test for the tf2onnx incompatibility with tf 2.16+
  jupyter/rocm/tensorflow/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

RHAIENG-780: Sanity check to find the diff in Dockerfiles
  Makefile
  scripts/check_dockerfile_alignment.sh
Due: none

RHAIENG-780: sanity check to find the diff in Dockerfiles (#2587)
  Makefile
  scripts/check_dockerfile_alignment.sh
Due: none

RHOAIENG-35860: Add new team member for ysok
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
Due: none

RHAIENG-1504: align Dockerfiles of `runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu` (#1653)
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

RHOAIENG-35860: add new team member for ysok (#2605)
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
Due: none

Path conditions:
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
