Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

docs: add RH index availability check to Python CVE workflow
  docs/cves/python.md
Due: none

Update quay.io/aipcc/base-images/rocm-6.4-el9.6 Docker tag to v3.4.0-1776274570 (#3386)
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Update quay.io/aipcc/base-images/cuda-13.0-el9.6 Docker tag to v3.4.0-1776274653 (#3385)
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

refactor: deduplicate package name mappings into shared module
  manifests/tools/package_names.py
  manifests/tools/update_imagestream_annotations_from_pylock.py
  tests/containers/manifest_validation_test.py
  tests/test_main.py
Due: none

refactor: rename _normalized_pkg_name and use shared manifest_name_to_pip
  manifests/tools/update_imagestream_annotations_from_pylock.py
  tests/test_main.py
Due: none

refactor: reuse parse_env_file in check-image-availability.py
  ci/check-image-availability.py
Due: none

refactor: inline _translated_pkg_name wrapper and simplify lookup reuse
  manifests/tools/package_names.py
  manifests/tools/update_imagestream_annotations_from_pylock.py
  tests/containers/manifest_validation_test.py
Due: none

fix: fail fast when env file path is not a regular file
  ci/check-image-availability.py
Due: none

test: assert pyproject.toml dependency names are PEP 503 canonical
  tests/test_main.py
Due: none

refactor: deduplicate package name mappings into shared module (#3342)
  ci/check-image-availability.py
  manifests/tools/package_names.py
  manifests/tools/update_imagestream_annotations_from_pylock.py
  tests/containers/manifest_validation_test.py
  tests/test_main.py
Due: none

refactor: reuse parse_env_file for env-key parsing, use canonicalize_name
  manifests/tools/generate_kustomization.py
  scripts/fix_package_naming.py
  scripts/lockfile-generators/helpers/download-pip-packages.py
  tests/test_main.py
Due: none

refactor: inline _parse_env_keys one-liner wrapper
  manifests/tools/generate_kustomization.py
  tests/test_main.py
Due: none

refactor: reuse shared env-file parser and canonicalize_name (#3391)
  manifests/tools/generate_kustomization.py
  scripts/fix_package_naming.py
  scripts/lockfile-generators/helpers/download-pip-packages.py
  tests/test_main.py
Due: none

chore: remove dead fix_package_naming.py (no Pipfiles remain)
  scripts/README.md
  scripts/fix_package_naming.py
Due: none

fix(manifests): rename py311 placeholders to match actual Python version
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/commit.env
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/kustomization.yaml
  manifests/rhoai/base/params.env
Due: none

Update lock files and ImageStream dependency annotations
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cuda.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(manifests): rename py311 placeholders to match actual Python version (#3371)
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/commit.env
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/kustomization.yaml
  manifests/rhoai/base/params.env
Due: none

Update lock files and ImageStream dependency annotations
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cuda.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-2855: ODH: Hermetic Jupyter PyTorch CUDA build
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  scripts/test_jupyter_with_papermill.sh
Due: none

RHAIENG-2847: ODH Hermetic build for jupyter trustyai
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-odh-main-push.yaml
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  prefetch-input/odh/rpms.in.yaml
  prefetch-input/odh/rpms.lock.yaml
  prefetch-input/rhds/rpms.in.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: none

RHAIENG-2852: Hermetic build for Jupyter tensorflow CUDA
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-2853: Hermetic build for ROCm TensorFlow Jupyter image
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  scripts/lockfile-generators/create-requirements-lockfile.sh
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
Due: none

RHAIENG-2854: Hermetic build for Jupyter ROCm PyTorch notebook
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
Due: none

Update registry.access.redhat.com/ubi9/go-toolset Docker tag to v1.25.8-1776370298
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  scripts/dockerfile_fragments.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update registry.access.redhat.com/ubi9/go-toolset Docker tag to v1.25.8-1776370298 (#3397)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  scripts/dockerfile_fragments.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update quay.io/aipcc/base-images/cuda-12.9-el9.6 Docker tag to v3.4.0-1776274735 (#3382)
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  rstudio/rhel9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-4600: Fix uv issue in RHDS when using uv 0.11.7 from public index
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
Due: none

Update GitHub Actions
  .github/actions/install-podman-action/action.yml
  .github/actions/playwright-test/action.yml
  .github/actions/setup-uv/action.yml
  .github/workflows/code-quality.yaml
  .github/workflows/security.yaml
  .github/workflows/sync-branches-through-pr.yml
Due: none

Update GitHub Actions
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/check-image-availability.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/pr-notifications.yml
  .github/workflows/test-playwright-action.yaml
Due: none

fix: bump Feast to 0.62 in manifests and runtime pylocks
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push

Update GitHub Actions (#3406)
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/check-image-availability.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/pr-notifications.yml
  .github/workflows/test-playwright-action.yaml
Due: none

Update GitHub Actions (#3405)
  .github/actions/install-podman-action/action.yml
  .github/actions/playwright-test/action.yml
  .github/actions/setup-uv/action.yml
  .github/workflows/code-quality.yaml
  .github/workflows/security.yaml
  .github/workflows/sync-branches-through-pr.yml
Due: none

ci(renovate): refine self-hosted workflow and config
  .github/workflows/renovate-self-hosted.yaml
  scripts/ci/renovate_run.py
Due: none

docs(adr): add workflow scope troubleshooting to ADR 0013
  .github/workflows/renovate-self-hosted.yaml
  docs/architecture/decisions/0013-renovate-mintmaker-and-self-hosted-github-actions.md
Due: none

docs(adr): add workflow scope troubleshooting to ADR 0013 (#3408)
  docs/architecture/decisions/0013-renovate-mintmaker-and-self-hosted-github-actions.md
  scripts/ci/renovate_run.py
Due: none

Update pnpm/action-setup action to v6.0.1
  .github/workflows/test-playwright-action.yaml
Due: none

Update pnpm/action-setup action to v6.0.1 (#3409)
  .github/workflows/test-playwright-action.yaml
Due: none

Update Trivy scanner to v0.70.0
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/security.yaml
Due: none

fix(cve): CVE-2026-40192 - Pillow FITS decompression bomb
  dependencies/cve-constraints.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
