Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

dnf install libxkbfile-devel instead of compile from source
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/patches/apply-patch.sh
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Fixed vsce-sign on ppc64le
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

new fix
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Fix microsoft-authentication .json
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/patches/code-server/lib/vscode/extensions/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib/vscode/extensions/microsoft-authentication/package.json
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Move patchdes to prefetch-input/
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.vath
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/01-build-release.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/02-build-standalone-release.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/03-npm-postinstall.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/04-vscode-fetch.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/06-vscode-microsoft-authentication.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/07-vscode-root.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/09-test.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/emmet/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/emmet/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/microsoft-authentication/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/remote/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/remote/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/test/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/test/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server/lib/vscode/extensions/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server/lib/vscode/extensions/microsoft-authentication/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server/s390x.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server/test/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server/test/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/codeserver-offline-env.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/setup-offline-binaries.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Added version to code-server/test
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  codeserver/ubi9-python-3.12/patches/code-server/test/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/test/package.json
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Clean up, remove unused code
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/prefetch-input/patches/codeserver-offline-env.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/setup-offline-binaries.sh
  codeserver/ubi9-python-3.12/uv.lock
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/download-npm.sh
  scripts/lockfile-generators/download-pip-packages.py
  scripts/lockfile-generators/rewrite-cachi2-path.sh
  scripts/lockfile-generators/rewrite-npm-urls.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Changed back to requirements.txt
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.vath
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Removed code-server old patches
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/01-build-release.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/02-build-standalone-release.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/03-npm-postinstall.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/04-vscode-fetch.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/06-vscode-microsoft-authentication.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/07-vscode-root.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/09-test.patch
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/emmet/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/emmet/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/microsoft-authentication/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/extensions/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/remote/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/lib/vscode/remote/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/test/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server.old/test/package.json
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Updated .tekton
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

New tool create-requirements-lockfile.sh and removed old tools
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.vath
  codeserver/ubi9-python-3.12/requirements-rhoai.txt
  codeserver/ubi9-python-3.12/requirements.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  scripts/lockfile-generators/create-pip-requirements-lockfile.sh
  scripts/lockfile-generators/create-requirements-lockfile.sh
  scripts/lockfile-generators/generate-rhoai-requirements.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Updated requirements file
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/requirements.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Updated .tekton file to replace different archs
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Re-org the script and update README.md
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-requirements-lockfile.sh
  scripts/lockfile-generators/create-rpm-lockfile.sh
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/helpers/download-rpms.sh
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  scripts/lockfile-generators/helpers/rhsm-pulp.repo
  scripts/lockfile-generators/helpers/rpm-lockfile-generate.sh
Due: none

chore(tests/containers): parameterize MySQL connector version in JupyterLab test
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: none

chore(tests/containers): update test to check absence of `PIP_INDEX_URL` in env variables
  tests/containers/base_image_test.py
Due: none

RHAIENG-3205: chore(tests/containers): parameterize MySQL connector version in JupyterLab test (#2967)
  tests/containers/base_image_test.py
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: none

Update lock files
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(dependencies): update `pylock.toml` to refine package markers and add new packages
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/base/pyproject.toml
  dependencies/datascience/pyproject.toml
  dependencies/db-connectors/pyproject.toml
  dependencies/elyra-runtime/pyproject.toml
  dependencies/jupyterlab-datascience/pyproject.toml
  dependencies/jupyterlab/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: test(dependencies): add check to exclude subproject meta-packages from `pylock.toml` and update `numpy` requirement
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  tests/test_main.py
Due: none

NO-JIRA: chore(dependencies): update `ipykernel` and reorganize `kfp` and `codeflare-sdk` dependencies between subprojects
  dependencies/datascience/pyproject.toml
  dependencies/jupyterlab-datascience/pyproject.toml
Due: none

NO-JIRA: chore(dependencies): update `pylock.toml` to refine package markers and add new packages
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/base/pyproject.toml
  dependencies/datascience/pyproject.toml
  dependencies/db-connectors/pyproject.toml
  dependencies/elyra-runtime/pyproject.toml
  dependencies/jupyterlab-datascience/pyproject.toml
  dependencies/jupyterlab/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(dependencies): remove unnecessary blank lines and add missing newline at EOF in `pyproject.toml` files
  dependencies/base/pyproject.toml
  dependencies/datascience/pyproject.toml
  dependencies/db-connectors/pyproject.toml
  dependencies/elyra-runtime/pyproject.toml
  dependencies/jupyterlab-datascience/pyproject.toml
  dependencies/jupyterlab/pyproject.toml
Due: none

NO-JIRA: chore(dependencies): update `numpy` to `2.3.5`, `pandas` to `2.3`, and `jupyter-bokeh` to `4.0.5` in `pylock.toml` and related files
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

Update lock files (#2968)
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Move .repo file to repos/
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/prefetch-input/patches/apply-patch.sh
  codeserver/ubi9-python-3.12/prefetch-input/repos/centos.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/epel.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/rhsm-pulp.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/ubi.repo
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

uv compile upgrade issue
  codeserver/ubi9-python-3.12/requirements.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  scripts/lockfile-generators/create-requirements-lockfile.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2760: Add tools to create lockfiles for RPM, npm, Python, and generic artifacts for Konflux.
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-artifact-lockfile.py
  scripts/lockfile-generators/create-requirements-lockfile.sh
  scripts/lockfile-generators/create-rpm-lockfile.sh
  scripts/lockfile-generators/download-npm.sh
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/helpers/download-rpms.sh
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  scripts/lockfile-generators/helpers/rhsm-pulp.repo
  scripts/lockfile-generators/helpers/rpm-lockfile-generate.sh
  scripts/lockfile-generators/hermeto-fetch-npm.sh
  scripts/lockfile-generators/rewrite-npm-urls.sh
  tests/test_main.py
Due: none

feat(scripts): add CVE management scripts for tracker due dates and orphaned CVEs
  scripts/create_cve_trackers.py
  scripts/cve_due_dates.py
Due: none

refactor(scripts): reorganize CVE management scripts into `cve/` and improve `find_orphan_cves` logic
  scripts/cve/create_cve_trackers.py
  scripts/cve/cve_due_dates.py
  scripts/cve/sbom_analyze.py
Due: none

Update scripts/cve/create_cve_trackers.py
  scripts/cve/create_cve_trackers.py
Due: none

Update scripts/cve/cve_due_dates.py
  scripts/cve/cve_due_dates.py
Due: none

refactor(docs): update examples for `sbom_analyze.py` and document `create_cve_trackers.py`
  scripts/README.md
Due: none

feat(scripts): enhance tracker creation with dynamic JQL links and description updates
  scripts/cve/create_cve_trackers.py
Due: none

docs(scripts): add usage details for `cve_due_dates.py` and refactor JIRA URL handling
  scripts/README.md
  scripts/cve/create_cve_trackers.py
  scripts/cve/cve_due_dates.py
Due: none

retrigger to check tags
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-push.yaml
Due: none

Add retrigger annotation to PipelineRun YAML
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
