Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

ISSUE#3557: docs: prohibit git add -A/./--all in AGENTS.md, require explicit staging (#4228)
  AGENTS.md
Due: none

RHAIENG-6622: add missing codeserver npm prefetch paths from konflux-central main
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-pull-request.yaml
Due: none

RHAIENG-6622: enable MintMaker/Renovate on RHDS rhoai-3.5 branch
  .github/renovate.json5
  scripts/ci/validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
Due: none

RHAIENG-6622: enable MintMaker/Renovate on RHDS rhoai-3.5 branch (#4229)
  .github/renovate.json5
  scripts/ci/validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
Due: none

RHAIENG-6622: enable MintMaker/Renovate on RHDS rhoai-3.5 branch (#4229) (#2664)
  .github/renovate.json5
  scripts/ci/validate_renovate_config.py
  tests/unit/scripts/ci/test_validate_renovate_config.py
Due: none

docs: prohibit git add -A/./--all in AGENTS.md, require explicit staging (#2662)
  AGENTS.md
Due: none

fix(ci): centralize coverage configuration in GHA workflow
  .github/workflows/code-quality.yaml
  pytest.ini
Due: none

fix(ci): centralize coverage configuration in GHA workflow (#4231)
  .github/workflows/code-quality.yaml
  pytest.ini
Due: none

test: drop unused pytest-subtests dependency, use builtin pytest.Subtests
  .cursor/rules/test-conventions.mdc
  ntb/strings.py
  pyproject.toml
  tests/containers/base_image_test.py
  tests/containers/manifest_validation_test.py
  tests/containers/params_env_validation_test.py
  tests/containers/workbenches/gpu_library_loading_test.py
  tests/containers/workbenches/jupyterlab/libraries_test.py
  tests/containers/workbenches/workbench_image_test.py
  tests/test_main.py
  uv.lock
Due: none

fix(ci): disable log_cli by default, upload pytest debug log as CI artifact
  .github/workflows/code-quality.yaml
  pytest.ini
  tests/conftest.py
Due: none

test: print failures instantly via pytest-instafail
  pyproject.toml
  pytest.ini
  uv.lock
Due: none

ci: move --junitxml/junit_family out of pytest.ini into the CI jobs that use it
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/test-containers.yaml
  pytest.ini
Due: none

RHAIENG-6664: fix excessively verbose pytest/CI output (#4242)
  .cursor/rules/test-conventions.mdc
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/test-containers.yaml
  ntb/strings.py
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/containers/base_image_test.py
  tests/containers/manifest_validation_test.py
  tests/containers/params_env_validation_test.py
  tests/containers/workbenches/gpu_library_loading_test.py
  tests/containers/workbenches/jupyterlab/libraries_test.py
  tests/containers/workbenches/workbench_image_test.py
  tests/test_main.py
  uv.lock
Due: none

[rhoai-2.25] RHAIENG-6066: adapt test-containers self-test for rhoai GHCR tags
  .github/workflows/test-containers.yaml
  ci/find_images_for_test_matrix.py
Due: none

[rhoai-2.25] RHAIENG-6066: dedupe test-containers path filters with yaml anchor
  .github/workflows/test-containers.yaml
Due: none

[rhoai-2.25] RHAIENG-6066: fix GHCR tag discovery for RHDS push images
  .github/workflows/test-containers.yaml
  ci/find_images_for_test_matrix.py
Due: none

[rhoai-2.25] RHAIENG-6066: resolve self-test images by branch ref prefix
  .github/workflows/test-containers.yaml
  ci/find_images_for_test_matrix.py
Due: none

[rhoai-2.25] Per-platform GHCR image tags for RHDS builds (#2450)
  .github/workflows/test-containers.yaml
  ci/find_images_for_test_matrix.py
Due: none

ci: document that the self-test ref-prefix truncation cap is a placeholder
  .github/workflows/test-containers.yaml
Due: none

fix(ci): resolve test-containers cross-org GHCR auth failure (#4244)
  .github/workflows/test-containers.yaml
  ci/find_images_for_test_matrix.py
Due: none

fix(ci): resolve test-containers cross-org GHCR auth failure (#4244) (#2669)
  .github/workflows/test-containers.yaml
  ci/find_images_for_test_matrix.py
Due: none

chore(jupyter/utils/addons): port main dependency refresh and drop dev server
  .github/workflows/test-addons.yaml
  jupyter/utils/addons/.dockerignore
  jupyter/utils/addons/.gitignore
  jupyter/utils/addons/README.md
  jupyter/utils/addons/apply.sh
  jupyter/utils/addons/build-demo.sh
  jupyter/utils/addons/demo/lab-index.template.html
  jupyter/utils/addons/dist/index.html
  jupyter/utils/addons/dist/pf.css
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
  jupyter/utils/addons/pnpm-workspace.yaml
  jupyter/utils/addons/test-build.sh
  jupyter/utils/addons/tsconfig.json
  jupyter/utils/addons/webpack.config.ts
  scripts/get-pnpm-version.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(jupyter/utils/addons): pin types after TS 6.0/7.0 default change
  jupyter/utils/addons/tsconfig.json
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(jupyter/utils/addons): align tsconfig module with moduleResolution
  jupyter/utils/addons/tsconfig.json
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(ci): fall back to legacy pnpm version parsing in playwright-test
  .github/actions/playwright-test/action.yml
Due: none

ci(addons): run tsc --noEmit in the addons workflow
  .github/workflows/test-addons.yaml
  jupyter/utils/addons/package.json5
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(addons): fail closed on SVG validation command errors
  jupyter/utils/addons/test-build.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

ci(addons): trigger addons workflow on pnpm-version helper changes
  .github/workflows/test-addons.yaml
Due: none

fix(jupyter/utils/addons): rename webpack config to .mts
  jupyter/utils/addons/README.md
  jupyter/utils/addons/cleanup-webpack-plugin.mts
  jupyter/utils/addons/webpack.config.mts
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(ci): loosen jupyter-minimal probe timings for slow/emulated nodes
  jupyter/minimal/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

fix(ci): loosen jupyter-datascience probe timings and memory for ppc64le CI
  jupyter/datascience/ubi9-python-3.12/kustomize/base/statefulset.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix(ci): raise ImageDeployment connect-wait timeout for slow/emulated pods
  tests/containers/kubernetes_utils.py
Due: none

ci(test-containers): add rstudio to the self-test image matrix (#2676)
  .github/workflows/test-containers.yaml
Due: none

fix(gha): prevent partial path matches triggering unnecessary rebuilds (#3094)
  ci/cached-builds/gha_pr_changed_files.py
Due: none

test(gha): add regression test for .git vs .github path matching
  ci/cached-builds/gha_pr_changed_files.py
Due: none

test(gha): fix stale ubi9-python-3.11 fixtures in gha_pr_changed_files tests
  ci/cached-builds/gha_pr_changed_files.py
Due: none

fix(gha): resolve pre-existing Pyright warnings in gha_pr_changed_files.py
  ci/cached-builds/gha_pr_changed_files.py
Due: none

fix(datascience): update ARROW_ORC_URL to match pinned pyarrow's ORC version
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

RHAIENG-4344: fix culling heartbeat for CodeServer
  codeserver/ubi9-python-3.12/nginx/api/kernels/access.cgi
  tests/containers/workbenches/culling_api_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix: add safeguard to culling API and improve tests
  codeserver/ubi9-python-3.12/httpd/httpd.conf
  codeserver/ubi9-python-3.12/nginx/api/kernels/access.cgi
  tests/containers/workbenches/culling_api_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
