Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

fix(datascience): make cargo/rustc available for libcst build on ppc64le/s390x
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix(datascience): pin rustup default toolchain for ppc64le/s390x libcst build
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix(datascience): replace obsolete `python setup.py build_ext` with `python -m build`
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix(datascience): install ninja-build for jupyter/datascience's pyarrow build
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix(tests): probe / instead of /api for OpenShift port-forward readiness
  tests/containers/kubernetes_utils.py
Due: none

ci(test-containers): add a job to run the openshift-marked container tests
  .github/workflows/test-containers.yaml
Due: none

fix(ci): disable zstd:chunked partial pulls in openshift-container-tests
  .github/workflows/test-containers.yaml
Due: none

test: stop tests/containers from unconditionally installing a DEBUG log handler
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/test-containers.yaml
  tests/containers/base_image_test.py
  tests/containers/kubernetes_utils.py
  tests/containers/podman_machine_utils.py
  tests/containers/workbenches/gpu_library_loading_test.py
Due: none

ci(test-containers): upload pytest debug log artifact like pytest-tests does
  .github/workflows/test-containers.yaml
  AGENTS.md
Due: none

ci: force color output in pytest CI logs, document ANSI-free artifact
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/test-containers.yaml
  AGENTS.md
Due: none

fix(ci): disable credential persistence in openshift-container-tests checkout
  .github/workflows/test-containers.yaml
Due: none

ci(test-containers): add a job to run the openshift-marked container tests (#4259)
  .github/workflows/test-containers.yaml
Due: none

fix(jupyter/utils/addons): align tsconfig module with moduleResolution
  jupyter/utils/addons/tsconfig.json
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

ci(addons): run tsc --noEmit in the addons workflow
  .github/workflows/test-addons.yaml
  jupyter/utils/addons/package.json5
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(jupyter/utils/addons): pin types after TS 6.0/7.0 default change
  jupyter/utils/addons/tsconfig.json
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(jupyter/utils/addons): rename webpack config to .mts
  jupyter/utils/addons/README.md
  jupyter/utils/addons/cleanup-webpack-plugin.mts
  jupyter/utils/addons/webpack.config.mts
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(addons): fail closed on SVG validation command errors
  jupyter/utils/addons/test-build.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

ci(addons): trigger addons workflow on pnpm-version helper changes
  .github/workflows/test-addons.yaml
Due: none

fix(jupyter/utils/addons): port TS 7 tsconfig/CI fixes from rhoai-2.25 (#4260)
  .github/workflows/test-addons.yaml
  jupyter/utils/addons/README.md
  jupyter/utils/addons/cleanup-webpack-plugin.mts
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/test-build.sh
  jupyter/utils/addons/tsconfig.json
  jupyter/utils/addons/webpack.config.mts
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

ci(addons): use a YAML anchor to dedupe pull_request/push path filters
  .github/workflows/test-addons.yaml
Due: none

ci(addons): use a YAML anchor to dedupe pull_request/push path filters (#4261)
  .github/workflows/test-addons.yaml
Due: none

#4239: fix(ci): validate versions_config_schema example against the model
  ci/versions_config_schema.py
Due: none

#4239: fix(ci): validate versions_config_schema example against the model (#4262)
  ci/versions_config_schema.py
Due: none

NO-JIRA: chore(scripts/buildinputs): bump Go deps for rhoai-3.6 dev cycle
  scripts/buildinputs/go.mod
  scripts/buildinputs/go.sum
Due: none

NO-JIRA: chore(ci): bump CHECK_PAYLOAD_VERSION to 0.3.17
  .github/workflows/build-check-payload.yaml
Due: none

ISSUE#4100: chore(scripts/go): rhoai 3.6 buildinputs checkpayload bump (#4263)
  .github/workflows/build-check-payload.yaml
  scripts/buildinputs/go.mod
  scripts/buildinputs/go.sum
Due: none

NO-JIRA: chore(ci): use check-payload 0.3.17 image in FIPS scan
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: docs(check-payload): update README version references to 0.3.17
  scripts/check-payload/README.md
Due: none

NO-JIRA: chore(check-payload): resync config.toml with upstream 0.3.17 default
  scripts/check-payload/config.toml
Due: none

NO-JIRA: chore(prefetch-input/mongocli): bump submodule to mongocli/v2.0.7
  .gitmodules
Due: none

NO-JIRA: fix(check-payload): waive OS certification for local scans
  scripts/check-payload/config.toml
Due: none

ISSUE#4100: chore(check-payload): finish 0.3.17 rollout + resync config.toml (#4264)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  scripts/check-payload/README.md
  scripts/check-payload/config.toml
Due: none

ci(podman): tune ephemeral GHA runners for faster image builds
  .github/ACTIONS.md
  .github/actions/install-podman-action/action.yml
  .github/workflows/test-install-podman.yaml
  ci/cached-builds/storage.conf
Due: none

ci(podman): reject false-positive native diff match in probe
  .github/workflows/test-install-podman.yaml
Due: none

ci(podman): assert Native Overlay Diff from podman info
  .github/actions/install-podman-action/action.yml
  .github/workflows/test-install-podman.yaml
Due: none

ci(podman): tune ephemeral GHA runners for faster image builds (#4266)
  .github/ACTIONS.md
  .github/actions/install-podman-action/action.yml
  .github/workflows/test-install-podman.yaml
  ci/cached-builds/storage.conf
Due: none

ISSUE#2482: fix(ci): set persist-credentials on all checkout steps (#2690)
  .github/workflows/docs.yaml
  .github/workflows/notebook-digest-updater.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/notebooks-release.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/sec-scan.yml
  .github/workflows/sync-branches-through-pr.yml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

chore(ci): replace archived and third-party PR/token actions
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/sec-scan.yml
Due: none
