Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-minimal-cpu-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

RHAIENG-1965: chore(cli): run `gmake refresh-pipfilelock-files` (#1711)
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
Due: none

RHAIENG-1965: chore(cli): run `scripts/dockerfile_fragments.py` in rhds (#1711)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-1965: chore(cli): manual alignments (#1711)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHAIENG-1965: chore(cli): hadolint ignore=DL3002 (#1711)
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHOAIENG-32541: fix(subscription): remove `subscription-manager.*register` from Dockerfiles to have Konflux do it for us (#2686)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  scripts/dockerfile_fragments.py
  tests/test_main.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fixup remove duplicate `### END Download Elyra Bootstrapper` (#2686)
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: none

fixup remove unused rstudio SECRET_DIR arguments (#2686)
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
Due: none

fixup last USER should not be root (#2686)
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: none

fixup run `gmake refresh-pipfilelock-files` (#2686)
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
Due: none

RHOAIENG-32541: fix(subscription): remove `subscription-manager.*register` from Dockerfiles to have Konflux do it for us
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update the makefile recipe where updates the locks files accordingly
  Makefile
  scripts/pylocks_generator.sh
Due: none

RHAIENG-1649: feat: add automated dependency lock generation script (#2644)
  Makefile
  scripts/pylocks_generator.sh
Due: none

RHAIENG-1603: Introduce konflux.*.conf to parameterize .conf file between ODH vs. RHOAI
  codeserver/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/konflux.cpu.conf
  rstudio/c9s-python-3.12/build-args/konflux.cpu.conf
  rstudio/c9s-python-3.12/build-args/konflux.cuda.conf
  rstudio/rhel9-python-3.12/build-args/konflux.cpu.conf
  rstudio/rhel9-python-3.12/build-args/konflux.cuda.conf
  runtimes/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

chore(base-images): add `ppc64le` and `s390x` architectures to odh-base-image-cpu-py312-c9s
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
Due: odh-base-image-cpu-py312-c9s-on-push

RHAIENG-2042: chore(base-images): add `ppc64le` (and `s390x` todo later) architectures to `odh-base-image-cpu-py312-c9s`
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
Due: odh-base-image-cpu-py312-c9s-on-push

RHAIENG-2042: chore(base-images): add `s390x` architecture to odh-base-image-cpu-py312-c9s
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cpu/c9s-python-3.12/README.md
  base-images/utils/aipcc.sh
  base-images/utils/fix-permissions
  base-images/utils/rpm-file-permissions
Due: odh-base-image-cpu-py312-c9s-on-push

RHAIENG-2042: chore(base-images): use AIPCC-style scripting instead of scl base to add `s390x` architecture to odh-base-image-cpu-py312-c9s (#2690)
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cpu/c9s-python-3.12/README.md
  base-images/utils/aipcc.sh
  base-images/utils/fix-permissions
  base-images/utils/rpm-file-permissions
Due: odh-base-image-cpu-py312-c9s-on-push

RHAIENG-948: remove UBI 9 repository injection across all Dockerfiles (#3020)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-948: chore(build-args): odh base image references to use c9s images instead of ubi9 (#3020)
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

update base_image_test.py to skip checking uid as it does not matter on openshift (#3020)
  tests/containers/base_image_test.py
Due: none

RHAIENG-2042: chore(base-images): add `TARGETARCH` as an argument to `ubi9-python-3.12` Dockerfile
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/utils/aipcc.sh
Due: odh-base-image-cpu-py312-c9s-on-push

Pin version for compressed-tensors=0.12.2 to be compatible with llmcompressor=0.8.1
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-2042: chore(Dockerfile): enable DNF cache mount for improved build efficiency in all Dockerfiles
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  examples/jupyterlab-with-elyra/Dockerfile
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-2042: chore(Dockerfile): enable DNF cache mount for improved build efficiency in all Dockerfiles
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

RHAIENG-2042: chore(Dockerfile): enable DNF cache mount for improved build efficiency in all Dockerfiles
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push

fixup
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push

fixup
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fixup
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
Due: none

fixup
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-py312-ubi9-on-push

fixup
  rstudio/rhel9-python-3.12/Dockerfile.cuda
Due: none

reconfigure hadolint
  ci/hadolint-config.yaml
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
