Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-13.0-el9.6 to v3.5.0-1782823904
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

aplly review request changes
  scripts/apply-manifests-dev.sh
Due: none

RHAIENG-6002: fix(jupyter): bind-mount base-images/utils directory for dnf-helper
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/dockerfile_fragments.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(cve): bump pyasn1 to >=0.6.3 for CVE-2026-30922
  codeserver/ubi9-python-3.12/pylock.toml
  dependencies/cve-constraints.txt
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  rstudio/c9s-python-3.11/pylock.toml
  rstudio/rhel9-python-3.11/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-5649: fix: pin Konflux BASE_IMAGE references by digest
  .github/renovate.json5
Due: none

RHAIENG-5656: docs(security): FIND-015 accepted risk for platform env vars
  ARCHITECTURE.md
  docs/security/workbench-trust-boundaries.md
Due: none

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-12.9-el9.6 to v3.5.0-1782914770
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-13.0-el9.6 to v3.5.0-1782915449
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-12.9-el9.6 to v3.5.0-1782914770 (#4000)
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6002: ci(.tekton): route ODH PR Konflux builds to linux/x86_64
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
Due: none

Update konflux BASE_IMAGE quay.io-aipcc-base-images-cuda-13.0-el9.6 to v3.5.0-1782915449 (#4001)
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Update RHDS rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix(ci): add conditional GHCR login for buildinputs image pulls
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/piplock-renewal.yaml
Due: none

fix(ci): disable checkout credential persistence in pytest-tests job
  .github/workflows/code-quality.yaml
Due: none

fix(ci): add conditional GHCR login for buildinputs image pulls (#4003)
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/piplock-renewal.yaml
Due: none

Update runtime naming seperation between latest and 2025.2 RHAIENG-5878
  manifests/odh/base/runtime-datascience-imagestream.yaml
  manifests/odh/base/runtime-minimal-imagestream.yaml
  manifests/odh/base/runtime-pytorch-imagestream.yaml
  manifests/odh/base/runtime-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/runtime-rocm-pytorch-imagestream.yaml
  manifests/odh/base/runtime-rocm-tensorflow-imagestream.yaml
  manifests/odh/base/runtime-tensorflow-imagestream.yaml
  manifests/rhoai/base/runtime-datascience-imagestream.yaml
  manifests/rhoai/base/runtime-minimal-imagestream.yaml
  manifests/rhoai/base/runtime-pytorch-imagestream-2025-2.yaml
  manifests/rhoai/base/runtime-pytorch-imagestream.yaml
  manifests/rhoai/base/runtime-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/runtime-rocm-pytorch-imagestream-2025-2.yaml
  manifests/rhoai/base/runtime-rocm-pytorch-imagestream.yaml
  manifests/rhoai/base/runtime-rocm-tensorflow-imagestream.yaml
  manifests/rhoai/base/runtime-tensorflow-imagestream.yaml
Due: none

RHAIENG-6002: fix: bind-mount utils directory instead of single file for dnf-helper.sh
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/dockerfile_fragments.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-6002: fix: bind-mount utils directory instead of single file for dnf-helper.sh (#4004)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/dockerfile_fragments.py
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update RHDS rpms.lock.yaml lock files (#4007)
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5943: resolve index URL from base image label instead of tag parsing
  docs/packageupdate.md
  scripts/index_url_resolver.py
  tests/unit/scripts/test_index_url_resolver.py
Due: none

RHAIENG-6018: feat(scripts/): pin BASE_IMAGE to sha256 digests in version sync
  scripts/update_build_args_from_versions.py
  tests/unit/scripts/test_update_build_args_from_versions.py
Due: none

change logs to use rich
  manifests/tools/rollout_tag_on_imagestreams.py
  pyproject.toml
  uv.lock
Due: none

RHAIENG-5943: fix: address review feedback — tighten label path validation and fix test stubs
  docs/packageupdate.md
  scripts/index_url_resolver.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

RHAIENG-5943: fix: CI lock check fallback and address review nitpicks
  scripts/pylocks_generator.py
  tests/unit/scripts/test_index_url_resolver.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

RHAIENG-5943: ci: authenticate skopeo for lock generation workflows
  .github/workflows/code-quality.yaml
  .github/workflows/piplock-renewal.yaml
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

RHAIENG-5943: fix: fall back to tag parsing for unexpanded image labels
  scripts/index_url_resolver.py
  tests/unit/scripts/test_index_url_resolver.py
Due: none

Fix BuildKit NoEmptyContinuation in TrustyAI konflux Dockerfile.
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

rebase genrate_kustomization file from lates updates related to runtimes
  manifests/tools/generate_kustomization.py
Due: none

Move TrustyAI extra-build-dependencies to [tool.uv].
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: none

RHAIENG-5986: bootstrap setuptools in TrustyAI final uv pip stage (#2436)
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

RHAIENG-6036: Add PRODUCT ?= rhoai guard to Makefile (#2437)
  Makefile
Due: none

RHAIENG-6036: Migrate PR builds to pull_request with fail-fast secrets guard
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/test-build-notebooks-template.yaml
Due: none

RHAIENG-6036: Point Makefile targets at Dockerfile.konflux.*
  Makefile
Due: none

RHAIENG-6036: Remove dead ODH-only Tekton PR pipelines
  .tekton/README.md
  .tekton/odh-base-image-cuda-12-8-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-c9s-pull-request.yaml
Due: none

RHAIENG-6036: Add runtime llmcompressor Konflux PR pipeline
  .tekton/README.md
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-pull-request.yaml
Due: none

RHAIENG-6036: Remove ODH-only base-image Tekton push pipelines
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push

RHAIENG-6036: Use go.mod for all setup-go cache paths
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
