Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

chore(deps): update konflux references
  .tekton/multiarch-odh-main-combined-pipeline.yaml
Due: none

Update pylock lock files
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update ODH rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Update RHDS rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

GHA: Renew lock files (#4327)
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  prefetch-input/odh/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

chore(base-images): bump AIPCC INDEX_URL to 3.6-EA1-test
  base-images/build-args/cpu.conf
  base-images/build-args/cuda12.9.conf
  base-images/build-args/cuda13.0.conf
  base-images/build-args/rocm7.14.conf
Due: odh-base-image-cuda-12-9-py312-c9s-on-push

chore(base-images): bump AIPCC INDEX_URL to 3.6-EA1-test (#4331)
  base-images/build-args/cpu.conf
  base-images/build-args/cuda12.9.conf
  base-images/build-args/cuda13.0.conf
  base-images/build-args/rocm7.14.conf
Due: odh-base-image-cuda-12-9-py312-c9s-on-push

chore(base-images): sync INDEX_URL from versions_config aipcc_wheel_index
  base-images/README.md
  ci/versions_config.schema.json
  ci/versions_config_schema.py
  docs/base_image_versions_update_configuration.md
  scripts/update_build_args_from_versions.py
  tests/test_versions_config_schema.py
  tests/unit/scripts/test_update_build_args_from_versions.py
  versions_config.yml
Due: none

fix: satisfy ruff RUF043 and format on aipcc_wheel_index changes
  ci/versions_config_schema.py
  tests/unit/scripts/test_update_build_args_from_versions.py
Due: none

NO-JIRA: style(scripts): finish Ruff cleanup for prek scripts scope
  pyproject.toml
  scripts/ci/renovate_run.py
  scripts/ci/validate_renovate_config.py
  scripts/cve/__init__.py
  scripts/cve/common.py
  scripts/cve/create_cve_trackers.py
  scripts/cve/cve_due_dates.py
  scripts/cve/jira_auth.py
  scripts/cve/jira_client.py
  scripts/cve/sbom_analyze.py
  scripts/lockfile-generators/create-artifact-lockfile.py
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  scripts/monitor_resources.py
  scripts/new_python_based_image.py
  scripts/sandbox.py
  scripts/sandbox_tests.py
  scripts/update-commit-latest-env.py
Due: none

NO-JIRA: ci(prek): include `scripts/` in Ruff hooks (#4272)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/ci/renovate_run.py
  scripts/ci/validate_renovate_config.py
  scripts/cve/__init__.py
  scripts/cve/common.py
  scripts/cve/create_cve_trackers.py
  scripts/cve/cve_due_dates.py
  scripts/cve/jira_auth.py
  scripts/cve/jira_client.py
  scripts/cve/sbom_analyze.py
  scripts/get_playwright_version.py
  scripts/index_url_resolver.py
  scripts/lockfile-generators/create-artifact-lockfile.py
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  scripts/monitor_resources.py
  scripts/new_python_based_image.py
  scripts/pylocks_generator.py
  scripts/sandbox.py
  scripts/sandbox_tests.py
  scripts/test_buildinputs_runner.py
  scripts/update-commit-latest-env.py
  scripts/update_build_args_from_versions.py
Due: none

NO-JIRA: chore(deps): bump ruff pre-commit hook to v0.16.2
  .pre-commit-config.yaml
  uv.lock
Due: none

NO-JIRA: style: convert noqa comments to symbolic ruff: ignore syntax
  base-images/copr/src/copr_rebuild/models.py
  ci/agentic-reviewer/src/odh_ci_agent/fetch_pr_source_snapshot.py
  ci/agentic-reviewer/src/odh_ci_agent/prepare_review_context.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/makefile_helper.py
  ci/expected_image_metadata_schema.py
  ci/security-scan/quay_security_analysis.py
  jupyter/datascience/ubi9-python-3.12/utils/jupyter_elyra_config.py
  jupyter/rocm/tensorflow/ubi9-python-3.12/test/test_notebook.ipynb
  manifests/tools/generate_envs.py
  manifests/tools/update_imagestream_annotations_from_pylock.py
  scripts/cve/jira_auth.py
  tests/containers/base_image_test.py
  tests/containers/conftest.py
  tests/containers/docker_utils.py
  tests/containers/manifest_validation_test.py
  tests/containers/pydantic_schemas/podman_info.py
  tests/containers/runtimes/runtime_test.py
  tests/containers/workbenches/codeserver/codeserver_test.py
  tests/containers/workbenches/gpu_library_loading_test.py
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
  tests/containers/workbenches/jupyterlab/libraries_testunits.py
  tests/containers/workbenches/jupyterlab/protobuf_testunits.py
  tests/manifests.py
  tests/pytest_tutorial/test_01_intro.py
  tests/unit/scripts/cve/test_jira_auth.py
  tests/unit/scripts/test_pylocks_generator.py
  tests/unit/test_configure_kale_from_elyra.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

NO-JIRA: ci: bump Trivy scanner to 0.73.0
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: ci(ruff): convert rule codes to names in pyproject.toml
  pyproject.toml
Due: none

NO-JIRA: chore: uv lock --upgrade
  uv.lock
Due: none

NO-JIRA: fix(tests): use testcontainers.core.docker_client.DockerClient
  tests/containers/conftest.py
  tests/containers/workbenches/workbench_image_test.py
Due: none

chore(deps): update odh base_image quay.io-opendatahub-odh-base-image-cpu-py312-c9s
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

chore(deps): update odh base_image quay.io-opendatahub-odh-base-image-cuda-py312-c9s
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

chore(deps): update odh base_image quay.io-opendatahub-odh-base-image-rocm-py312-c9s
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

chore(deps): update odh base_image quay.io-opendatahub-odh-base-image-cpu-py312-c9s (#4336)
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

chore(deps): update odh base_image quay.io-opendatahub-odh-base-image-rocm-py312-c9s (#4338)
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

chore(deps): update odh base_image quay.io-opendatahub-odh-base-image-cuda-py312-c9s (#4337)
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix: disable Arrow S3 support on s390x (#2725)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

chore(ci/agentic-reviewer): pass --allow-escape-sequences to gh job log fetch
  ci/agentic-reviewer/src/odh_ci_agent/github_api.py
  ci/agentic-reviewer/tests/unit/test_github_api.py
  ci/agentic-reviewer/tests/unit/test_prepare_ci_run_context.py
Due: none

fix(ci/agentic-reviewer): replace Actions MCP with local schema tools
  ci/agentic-reviewer/AGENTS.md
  ci/agentic-reviewer/pyproject.toml
  ci/agentic-reviewer/src/odh_ci_agent/ci_summary.py
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/src/odh_ci_agent/summarize_ci_run.py
  ci/agentic-reviewer/tests/unit/test_ci_summary.py
  ci/agentic-reviewer/tests/unit/test_github_actions_tools.py
  ci/agentic-reviewer/tests/unit/test_summarize_ci_run.py
  uv.lock
Due: none

chore(ci/agentic-reviewer): apply prek ruff fixes for PR 4342
  ci/agentic-reviewer/src/odh_ci_agent/summarize_ci_run.py
  ci/agentic-reviewer/tests/unit/test_ci_summary.py
Due: none

fix(ci/agentic-reviewer): enforce run boundary and binary artifact download
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/src/odh_ci_agent/github_api.py
  ci/agentic-reviewer/tests/unit/test_github_actions_tools.py
  ci/agentic-reviewer/tests/unit/test_github_api.py
Due: none

fix(ci/agentic-reviewer): cap artifact download size at 10 MiB
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/tests/unit/test_github_actions_tools.py
Due: none

fix(ci/agentic-reviewer): replace Actions MCP with local schema tools (#4342)
  ci/agentic-reviewer/AGENTS.md
  ci/agentic-reviewer/pyproject.toml
  ci/agentic-reviewer/src/odh_ci_agent/ci_summary.py
  ci/agentic-reviewer/src/odh_ci_agent/github_actions_tools.py
  ci/agentic-reviewer/src/odh_ci_agent/github_api.py
  ci/agentic-reviewer/src/odh_ci_agent/summarize_ci_run.py
  ci/agentic-reviewer/tests/unit/test_ci_summary.py
  ci/agentic-reviewer/tests/unit/test_github_actions_tools.py
  ci/agentic-reviewer/tests/unit/test_github_api.py
  ci/agentic-reviewer/tests/unit/test_summarize_ci_run.py
  uv.lock
Due: none

RHAIENG-6389: test(jupyter-baseline): align container tests with lean image
  jupyter/baseline/ubi9-python-3.12/test/test_notebook.ipynb
  scripts/test_jupyter_with_papermill.sh
  tests/containers/base_image_test.py
  tests/containers/conftest.py
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

create jupyter/baseline and update pyproject.toml
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/build-args/cpu.conf
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/baseline/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/service.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/setup-elyra.sh
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/baseline/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/baseline/ubi9-python-3.12/utils/component_runtime.json
  jupyter/baseline/ubi9-python-3.12/utils/configure_kale_from_elyra.py
  jupyter/baseline/ubi9-python-3.12/utils/jupyter_elyra_config.py
  jupyter/baseline/ubi9-python-3.12/utils/kfp_authentication.patch
  jupyter/baseline/ubi9-python-3.12/utils/pipeline-flow.svg
  jupyter/baseline/ubi9-python-3.12/utils/pipeline_app.patch
  jupyter/baseline/ubi9-python-3.12/utils/pipeline_definition.patch
  jupyter/baseline/ubi9-python-3.12/utils/processor_kfp.patch
  jupyter/baseline/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

RHAIENG-6389: fix(jupyter-baseline): enable EPEL for texlive-tcolorbox
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: none

RHAIENG-6389: fix(jupyter-baseline): install pandoc from EPEL
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
Due: none

update konflux tekton, makefile, and GHA wiring
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
  Makefile
  ci/cached-builds/gen_gha_matrix_jobs.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/make_test.py
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/README.md
  jupyter/baseline/ubi9-python-3.12/build-args/cpu.conf
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/baseline/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  scripts/lockfile-generators/create-requirements-lockfile.sh
  tests/public_index_image_utils.py
  tests/test_main.py
  tests/unit/test_public_index_image_utils.py
Due: none

Code suggestion and changes
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/serviceaccount.yaml
  jupyter/baseline/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/baseline/ubi9-python-3.12/setup-elyra.sh
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
Due: none

RHAIENG-6389: fix(jupyter-baseline): stop sourced setup scripts from enabling nounset
  jupyter/baseline/ubi9-python-3.12/setup-elyra.sh
  jupyter/baseline/ubi9-python-3.12/setup-kale.sh
  jupyter/minimal/ubi9-python-3.12/start-notebook.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push
