Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-minimal-cpu-py312-ubi9:odh-stable
  - name: dockerfile
    value: runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  - name: build-args-file
  ...

chore(build-args): align cpu.conf with upstream ODH base image (#1866)
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

chore(tekton): remove v3-0 pipeline files
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-v3-0-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-v3-0-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-v3-0-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-v3-0-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-v3-0-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-v3-0-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-v3-0-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-v3-0-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-v3-0-push.yaml
Due: none

RHAIENG-3056: Fix test_python_package_index for uv.lock.d images
  tests/containers/base_image_test.py
Due: none

chore(pylocks): update the comment line in pylocks
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
Due: none

RHAIENG-3056: fix `test_python_package_index` for `uv.lock.d` images (#2894)
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  tests/containers/base_image_test.py
Due: none

cleanup
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/patches/PATCHES.md
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-release.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-standalone-release.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-vscode.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/npm-postinstall.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/dev/postinstall.sh
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/build-lib/fetch.js
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Successfully built locally
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-3059: migrate to PYLOCK_FLAVOR for dynamic lockfile selection across all images
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Enabled aarch64
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2189: remove deprecated AIPCC phase 1.5 environment variable overrides (`PIP_INDEX_URL`, `UV_INDEX_URL`, `UV_DEFAULT_INDEX`) from Dockerfiles
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Fix aarch64 ripgrep
  codeserver/ubi9-python-3.12/setup-offline-binaries.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

chore(dockerfile): update ROCm 6.4 base images to add OpenMP runtime and new ROCm libraries
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-6-4-py312-c9s-on-push

chore(dockerfile): update CUDA 12.8 and 12.9 base images to add libs that AIPCC ships
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: odh-base-image-cuda-12-8-py312-c9s-on-push

RHAIENG-3072: add CUDA 12.9 base images with Python 3.12 for both CentOS Stream 9 and UBI 9
  .tekton/odh-base-image-cuda-12-9-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-push.yaml
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.9/cuda-repos/cuda.repo-amd64
  base-images/cuda/12.9/cuda-repos/cuda.repo-arm64
  base-images/cuda/12.9/ubi9-python-3.12/Dockerfile.cuda
Due: none

test(base_image): skip FFmpeg-related dependencies for torchvision video_reader on unsupported platforms
  tests/containers/base_image_test.py
Due: none

chore(dockerfile): add runtime dependencies for PyTorch (openmpi, qhull, snappy) across CUDA/ROCm base images
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push

chore(dockerfile): replace individual ROCm library packages with meta-packages (`rocm-hip-libraries`, `rocm-ml-libraries`) in ROCm 6.4 base images
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-rocm-6-4-py312-c9s-on-push

chore(tekton): add taskRunSpecs with increased compute resources for clair-scan and preflight-check tasks
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-pull-request.yaml
Due: none

chore(dockerfile): replace `qhull` with `libqhull` for PyTorch runtime dependencies in CUDA/ROCm base images
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push

chore(dockerfile): drop installation of runtime dependencies (openmpi, libqhull_r, snappy) in UBI9 images without RHEL entitlements
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/ubi9-python-3.12/Dockerfile.cuda
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: none

chore(dockerfile): install `dnf-plugins-core` before enabling CRB repo in CUDA/ROCm base images
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push

Added tar, perl, mesa-libGL, skopeo
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Added more rpms
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Added rpm nginx
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Add ppc64le rpm
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

chore(dockerfile): update `libcudss` to version 13 in CUDA 13.0 base image
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

chore(dockerfile): update CUDA base images to version 12.9.1 and adjust runtime/library configurations
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/ubi9-python-3.12/Dockerfile.cuda
Due: none

chore(dockerfile): update library paths for CUDA runtime in CUDA 13.0 base image
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

chore(dockerfile): update library paths to include `/usr/local/cuda/lib64` in CUDA 12.8 base images
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
Due: odh-base-image-cuda-12-8-py312-c9s-on-push

chore(tekton): add taskRunSpecs with increased compute resources for build-images, clair-scan, and preflight-check tasks
  .tekton/odh-base-image-cuda-12-8-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-pull-request.yaml
Due: none

chore(tekton): add taskRunSpecs with increased compute resources for build-images task in ROCm 6.4 pipeline definitions
  .tekton/odh-base-image-rocm-6-4-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-pull-request.yaml
Due: none

Bump codeserver IDE version from 4.104 to 4.108
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Bump code-server extensions
  codeserver/Extensions.md
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/utils/ms-python.python-2026.0.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.9.1.vsix
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

docs: add package update procedure documentation (#2885)
  docs/packageupdate.md
Due: none

provide a vsce-sign-stub to allow build for ppc and s390x
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

chore(ci/gha): add `id` and `!cancelled()` conditions to workflow steps in build-notebooks template
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

chore(ci/gha): add `id` and `!cancelled()` conditions to workflow steps in build-notebooks template (#2901)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

RHAIENG-1722: chore(pylocks): add AIPCC-enabled pylocks for jupyter/pytorch
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
