Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHAIENG-2041: chore(pylocks): use the AIPCC-enabled lockfile in the jupyter minimal cpu dockerfile
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHAIENG-1650: chore(pylocks): use the AIPCC-enabled lockfile in the jupyter minimal cuda,rocm dockerfiles
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

chore(pylocks): rename PYLOCK_PLATFORM to PYLOCK_FLAVOR
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHAIENG-1650, RHAIENG-2041: chore(pylocks): add AIPCC-enabled pylocks for jupyter minimal ubi9-python-3.12 (#2838)
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

RHOAIENG-46777: fix(ci): set explicit persist-credentials in checkout actions
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

RHOAIENG-46777: fix(ci): set explicit persist-credentials in checkout actions (#2860)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

fix(tests): include `dependencies/` pyproject.toml files in version alignment test (#2861)
  tests/test_main.py
Due: none

RHAIENG-2857: chore(deps): upgrade dependency versions for Elyra deps and in Jupyter TrustyAI notebook (#2861)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/odh-notebooks-meta-runtime-elyra-deps/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  tests/test_main.py
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push

chore(datascience/Dockerfile): workaround pyzmq build issues on ppc64le and s390x (#2861)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix(trustyai): filter out lintrunner from PyTorch requirements for uv compatibility
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

fix(trustyai): filter out lintrunner from PyTorch requirements for uv compatibility (#2867)
  jupyter/trustyai/ubi9-python-3.12/devel_env_setup.sh
Due: none

chore(build): update index mode to `auto` and adjust lockfile handling logic
  Makefile
  scripts/pylocks_generator.sh
Due: none

RHAIENG-1650, RHAIENG-2041: chore(pylocks): remove redundant `pylock.toml` for minimal/ubi9 Python 3.12
  jupyter/minimal/ubi9-python-3.12/pylock.toml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

feat(tekton): add zstd:chunked compression for base images
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
Due: odh-base-image-cuda-py312-ubi9-on-push

chore(tekton): update all base-image PipelineRuns to use compression pipeline
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-12-8-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-3-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
Due: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push

chore(tekton): refactor compression process in pipelines
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

fix(tekton): move compression before build-image-index and fix long task names
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
Due: none

fix(tekton): use correct jq format for array results
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
Due: none

fix(tekton): correct array result expansion syntax for IMAGES param
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
Due: none

Update lock files
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

Update lock files (#2872)
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

chore(workflows): enhance piplock-renewal with auto-merge PR flow and updated schedules
  .github/workflows/piplock-renewal.yaml
Due: none

fixup, update the action for current realities
  .github/workflows/piplock-renewal.yaml
Due: none

fixup, add FORCE_LOCKFILES_UPGRADE feature
  .github/workflows/piplock-renewal.yaml
  scripts/pylocks_generator.sh
Due: none

fixup, use different account to give approvals
  .github/workflows/piplock-renewal.yaml
Due: none

Update .github/workflows/piplock-renewal.yaml
  .github/workflows/piplock-renewal.yaml
Due: none

chore(workflows): enhance piplock-renewal with auto-merge PR flow and updated schedules (#2871)
  .github/workflows/piplock-renewal.yaml
  scripts/pylocks_generator.sh
Due: none

Update lock files
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(tekton): revert to compression after build-image-index
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
Due: none
