Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

chore: update Tekton pipeline tags 3.5_ea1-v1.44 → 3.5_ea2-v1.45 (#3623)
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ci-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-ci-push.yaml
Due: none

RHAIENG-2488: chore(base-images): remove obsolete CUDA and ROCm versions
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/cuda-repos/cuda.repo-amd64
  base-images/cuda/12.6/cuda-repos/cuda.repo-arm64
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.8/cuda-repos/cuda.repo-amd64
  base-images/cuda/12.8/cuda-repos/cuda.repo-arm64
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push

RHAIENG-2488: chore(base-images): remove ubi9 base-images since we're now on c9s, re. RHAIENG-2042
  .tekton/odh-base-image-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-push.yaml
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/ubi9-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-ubi9-on-push

NO-JIRA: docs(base-images): add README with layout, build instructions, and RHEL Python lifecycle
  base-images/README.md
Due: none

NO-JIRA: docs(base-images): add README with layout, build instructions, and RHEL Python lifecycle (#3624)
  base-images/README.md
Due: none

chore: update params-latest.env tags 3.5_ea1-v1.44 → 3.5_ea2-v1.45
  manifests/odh/base/params-latest.env
Due: none

docs: Add CLI provisioning enhancement design document
  docs/cli-provisioning-design.md
Due: none

feat(cli): Add Trogon auto-generated TUI from CLI
  cli/commands/provision/run_trogon.py
Due: none

docs(cli): Add comprehensive README for provisioning tools
  cli/commands/provision/README.md
Due: none

feat(cli): Add NiceGUI web UI (browser-based)
  cli/commands/provision/nicegui_app.py
Due: none

docs: Add GCP instance provisioning first steps guide
  docs/gcpprovisioningfirststeps.md
Due: none

feat(cli): Add GCP provisioning CLI with Typer
  cli/commands/provision/__init__.py
  cli/commands/provision/command.py
  cli/commands/provision/provision
  cli/commands/provision/run_cli.py
Due: none

docs(cli): Add framework-specific READMEs with coding quickstarts
  cli/commands/provision/README-flet.md
  cli/commands/provision/README-nicegui.md
  cli/commands/provision/README-textual.md
  cli/commands/provision/README-trogon.md
  cli/commands/provision/README-typer.md
Due: none

feat(cli): Add Textual TUI for interactive provisioning
  cli/commands/provision/run_tui.py
  cli/commands/provision/tui.py
Due: none

docs(adr): Add ADR-0005 for multi-interface GCP provisioning CLI
  docs/architecture/decisions/0005-multi-interface-cli-for-gcp-provisioning.md
Due: none

feat(cli): Add Flet desktop app (Flutter/Skia renderer)
  cli/commands/provision/flet_app.py
Due: none

RHAIENG-4956: Update hermeto image version to 0.51.0 in GHA CI prefetch scripts
  scripts/lockfile-generators/helpers/hermeto-fetch-gomod.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-npm.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
Due: none

RHAIENG-4956: Pin hermeto image references by SHA256 digest
  scripts/lockfile-generators/helpers/hermeto-fetch-gomod.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-npm.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
Due: none

RHAIENG-4956: refactor: extract shared hermeto image config into hermeto-common.sh
  scripts/lockfile-generators/helpers/hermeto-common.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-gomod.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-npm.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
Due: none

Update quay.io/aipcc/base-images/cpu Docker tag to v3.5.0-ea.2-1778762488
  codeserver/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Update quay.io/aipcc/base-images/cuda-12.9-el9.6 Docker tag to v3.5.0-ea.2-1778760744
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-5137: fix llmcompressor LABEL_COMPONENT collision
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: none

RHAIENG-5137: make Dockerfile pairs byte-identical, simplify alignment check
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/check_dockerfile_alignment.sh
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

RHAIENG-5137: make Dockerfile pairs byte-identical, simplify alignment check (#3630)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/check_dockerfile_alignment.sh
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

chore: update Tekton pipeline tags 3.5_ea1-v1.44 → 3.5_ea2-v1.45
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ci-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-ci-push.yaml
Due: none

chore: update Tekton pipeline tags 3.5_ea1-v1.44 → 3.5_ea2-v1.45 (#3632)
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-ci-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ci-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-ci-push.yaml
Due: none

chore: update params-latest.env tags 3.5_ea1-v1.44 → 3.5_ea2-v1.45 (#3625)
  manifests/odh/base/params-latest.env
Due: none

chore: update all pnpm dependencies, add supply-chain hardening
  .github/actions/playwright-test/action.yml
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
  tests/browser/package.json5
  tests/browser/pnpm-lock.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

docs: document pnpm override semantics, bump protobufjs floor to 7.5.6
  docs/cves/nodejs.md
  tests/browser/package.json5
  tests/browser/pnpm-lock.yaml
Due: none

fix: remove duplicate minimumReleaseAge from package.json5
  jupyter/utils/addons/package.json5
  tests/browser/package.json5
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore: update all pnpm dependencies, add supply-chain hardening (#3635)
  .github/actions/playwright-test/action.yml
  docs/cves/nodejs.md
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
  tests/browser/package.json5
  tests/browser/pnpm-lock.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

#3637, #3638: chore: upgrade pnpm from 10.33.4 to 11.x
  .github/actions/playwright-test/action.yml
  .github/workflows/test-playwright-action.yaml
  docs/cves/nodejs.md
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-workspace.yaml
  scripts/get-pnpm-version.sh
  tests/browser/Dockerfile
  tests/browser/package.json5
  tests/browser/pnpm-lock.yaml
  tests/browser/pnpm-workspace.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

chore: update params-latest.env tags 3.5_ea1-v1.44 → 3.5_ea2-v1.45 (#3636)
  manifests/odh/base/params-latest.env
Due: none

#3637, #3638: chore: upgrade pnpm from 10.33.4 to 11.x (#3639)
  .github/actions/playwright-test/action.yml
  .github/workflows/test-playwright-action.yaml
  docs/cves/nodejs.md
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-workspace.yaml
  scripts/get-pnpm-version.sh
  tests/browser/Dockerfile
  tests/browser/package.json5
  tests/browser/pnpm-lock.yaml
  tests/browser/pnpm-workspace.yaml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-5139: split DOCKERFILE vs DOCKERFILE_BUILD for podman symlink compat
  Makefile
Due: none

RHAIENG-5139: symlink Dockerfile.* → Dockerfile.konflux.* for all 18 image variants
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
