Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-pipeline-runtime-pytorch-rocm-py311-ubi9:{{revision}}
  - name: dockerfile
  ...

odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  ...

odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push:
  timeouts:
    pipeline: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-workbench-rstudio-minimal-cpu-py311-c9s:{{revision}}
  - name: dockerfile
    value: rstudio/c9s-python-3.11/Dockerfile.cpu
  ...

NO-JIRA: update `test_make_disable_pushing` to use Python 3.12 image in `test_main.py`
  tests/test_main.py
Due: none

NO-JIRA: remove Tekton pipeline definitions for Python 3.11 workbenches except rstudio
  .tekton/odh-pipeline-runtime-datascience-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py311-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py311-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py311-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py311-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py311-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py311-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py311-ubi9-push.yaml
Due: odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push

NO-JIRA: update pr-merge-image-delete workflow to remove Python 3.11 images and add 3.12 versions
  .github/workflows/pr-merge-image-delete.yml
Due: none

NO-JIRA: update pr-merge-image-delete workflow to remove Python 3.11 images and add 3.12 versions (#2143)
  .github/workflows/pr-merge-image-delete.yml
Due: none

add konflux dockerfiles
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
Due: none

RHAIENG-304: add uv `pyproject.toml`s for multiple notebooks and runtimes across Jupyter, RStudio, and VSCode (#2145)
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  rstudio/c9s-python-3.11/pyproject.toml
  rstudio/rhel9-python-3.11/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-304: update `sync-requirements-txt.sh` to generate requirements.txt with micropipenv and add pylock.toml output with uv (#2145)
  Makefile
  scripts/sync-requirements-txt.sh
Due: none

RHAIENG-304: add `pylock.toml`s (#2145)
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  rstudio/c9s-python-3.11/pylock.toml
  rstudio/rhel9-python-3.11/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-304: pin micropipenv and uv versions in `sync-requirements-txt.sh` (#2145)
  .github/workflows/piplock-renewal.yaml
  scripts/sync-requirements-txt.sh
Due: none

RHAIENG-304: replace requirements.txt with pylock.toml in all relevant Dockerfiles (#2145)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-304: remove dependency overrides as pylock.toml can't work in that place (#2145)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-304: specify python version on the `uv pip compile` line so that we don't trash w.r.t. (#2145)
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  rstudio/c9s-python-3.11/pylock.toml
  rstudio/rhel9-python-3.11/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  scripts/sync-requirements-txt.sh
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

RHAIENG-304: delete the `uv.lock`s created in refresh-pipfilelock-files, we only need the `pylock.toml`s
  Makefile
Due: none

NO-JIRA: resume testing of cuda-based rstudio images in GitHub Actions
  Makefile
Due: none

NO-JIRA: bump default Python version in `refresh-pipfilelock-files` Makefile task from 3.11 to 3.12
  Makefile
Due: none

Update odh-workbench-jupyter-trustyai-cpu-py311-v2-25-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py311-v2-25-push.yaml
Due: none

[rhds] NO-JIRA: delete obsolete Python 3.11 `Dockerfile.konflux` files across environments in rhds/notebooks (#1507)
  codeserver/ubi9-python-3.11/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.konflux.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.11/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.konflux.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.konflux.cuda
Due: odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push

opendatahub-io/notebooks#2166: chore(typofix): update Dockerfile to use CUDA cudnn9 and correct documentation link
  rstudio/rhel9-python-3.11/Dockerfile.cuda
Due: none

[rhoai-2.23] NO-JIRA: fix(ci): escape special characters in tabular data printouts
  ci/package_versions.py
Due: none

opendatahub-io/notebooks#2178: fix(ci): add missing cri-tools dependency in build-notebooks workflow
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Create cuda and rocm base images as well as their build configs
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/c9s-python-3.12/cuda.repo-amd64
  base-images/cuda/12.6/c9s-python-3.12/cuda.repo-arm64
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.6/ubi9-python-3.12/cuda.repo-amd64
  base-images/cuda/12.6/ubi9-python-3.12/cuda.repo-arm64
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
Due: none

Add konflux Dockerfiles for llmCompressor image
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: none

[rhds] RHAIENG-304: switch from `Pipfile.lock` to `pylock.toml` for package management across all relevant Dockerfiles (#1508)
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Enable s390x support for runtime-datascience (Python 3.12)
  ci/cached-builds/gen_gha_matrix_jobs.py
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Pipfile
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
Due: none

Update Pipfile.lock for Python 3.12
  runtimes/datascience/ubi9-python-3.12/pylock.toml
Due: none

NO-JIRA: fix(ci): escape special characters in tabular data printouts (#2177)
  ci/package_versions.py
Due: none

opendatahub-io/notebooks#2166: chore(typofix): update Dockerfile to use CUDA cudnn9 and correct documentation link (#2176)
  rstudio/rhel9-python-3.11/Dockerfile.cuda
Due: none

opendatahub-io/notebooks#2178: fix(ci): add missing cri-tools dependency in build-notebooks workflow (#2179)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

opendatahub-io/notebooks#2178: fix(ci): add dependency versions pins in build-notebooks workflow
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

opendatahub-io/notebooks#2178: fix(ci): add dependency versions pins in build-notebooks workflow (#2183)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Path conditions:
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
