Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHOAIENG-42342: update to Elyra 4.3.2
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(ci): add SC3041 and SC3020 to hadolint ignore list (#2784)
  ci/hadolint-config.yaml
Due: none

NO-JIRA: chore(workflows): update uv sync --upgrade
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/security.yaml
  .pre-commit-config.yaml
  uv.lock
Due: none

NO-JIRA: chore(workflows): add Trivy scan action for container image and filesystem vulnerability scanning
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/test-trivy-scan-action.yaml
Due: none

NO-JIRA: chore(workflows): update various versions of various things
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/security.yaml
  .pre-commit-config.yaml
  uv.lock
Due: none

NO-JIRA: chore(workflows): update various versions of various things (#2787)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/security.yaml
  .pre-commit-config.yaml
  uv.lock
Due: none

NO-JIRA: chore(workflows): add Trivy scan action for container image and filesystem vulnerability scanning (#2788)
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/test-trivy-scan-action.yaml
Due: none

NO-JIRA: chore(workflows): refresh cache when running on-schedule builds and deduplicate make targets in build workflows
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: chore(workflows): refresh cache when running on-schedule builds and deduplicate make targets in build workflows (#2790)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: chore(workflows): add workflow to test build-notebooks template with minimal configuration
  .github/workflows/test-build-notebooks-template.yaml
Due: none

NO-JIRA: chore(workflows): add workflow to test build-notebooks template with minimal configuration (#2791)
  .github/workflows/test-build-notebooks-template.yaml
Due: none

NO-JIRA: chore(docs/adr): document language preference for Python, Go, and TypeScript (#2640)
  docs/architecture/decisions/0003-prefer-python-go-and-typescript-in-this-order.md
Due: none

arm64(cuda): try building remaining non-ROCm images for arm64
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
Due: none

RHOAIENG-42342: update to Elyra 4.3.2 (#2786)
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(dependencies): update `pylock.toml` to refine package markers and add new packages
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/base/pyproject.toml
  dependencies/datascience/pyproject.toml
  dependencies/db-connectors/pyproject.toml
  dependencies/elyra-runtime/pyproject.toml
  dependencies/jupyterlab-datascience/pyproject.toml
  dependencies/jupyterlab/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: test(dependencies): add check to exclude subproject meta-packages from `pylock.toml` and update `numpy` requirement
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  tests/test_main.py
Due: none

NO-JIRA: chore(dependencies): remove unnecessary blank lines and add missing newline at EOF in `pyproject.toml` files
  dependencies/base/pyproject.toml
  dependencies/datascience/pyproject.toml
  dependencies/db-connectors/pyproject.toml
  dependencies/elyra-runtime/pyproject.toml
  dependencies/jupyterlab-datascience/pyproject.toml
  dependencies/jupyterlab/pyproject.toml
Due: none

NO-JIRA: chore(dependencies): update `numpy` to `2.3.5`, `pandas` to `2.3`, and `jupyter-bokeh` to `4.0.5` in `pylock.toml` and related files
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

NO-JIRA: chore(workflows): improve Trivy scan conditional logic to ensure steps run when image builds successfully
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: chore(docker): add `mongocli-builder` stage into dockerfile_fragments.py templates
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  scripts/dockerfile_fragments.py
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(workflows): improve Trivy scan conditional logic to ensure steps run when image builds successfully (#2797)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: chore(dependencies): refine platform markers for `onnx`, `onnxconverter-common`, and `ml-dtypes` to exclude `s390x` architecture
  codeserver/ubi9-python-3.12/pylock.toml
  dependencies/datascience/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(dependencies): downgrade dependencies in `pylock.toml` (`bigtree`, `cachetools`, `dask`, `debugpy`, `fastapi`, `filelock`, `fonttools`) to earlier compatible versions
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
Due: none

RHOAIENG-42632: chore(tests): validate RHDS Tekton pipelines use appropriate `konflux` build arguments
  tests/test_main.py
Due: none

fixup, review comments
  tests/test_main.py
Due: none

RHOAIENG-42632, RHOAIENG-42630: chore(tests): validate RHDS Tekton pipelines use appropriate `konflux` build arguments (#2800)
  tests/test_main.py
Due: none

NO-JIRA: chore(docker): add `mongocli-builder` stage into dockerfile_fragments.py templates (#1834)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  scripts/dockerfile_fragments.py
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-43410: chore(dependencies): bump `codeflare-sdk` to version `0.33.1` across all relevant configurations
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

NO-JIRA: chore(dependencies): upgrade `pnpm-lock.yaml` to update several dependencies and address version consistency issues
  jupyter/utils/addons/dist/pf.css
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHOAIENG-43410: chore(dependencies): bump `codeflare-sdk` to version `0.33.1` across all relevant configurations (#2805)
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-2610: chore(base-images/cuda): add Tekton pipelines and Dockerfile for CUDA 13.0.2 Python 3.12 base image
  .tekton/odh-base-image-cuda-13-0-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-push.yaml
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/13.0/cuda-repos/cuda.repo-amd64
  base-images/cuda/13.0/cuda-repos/cuda.repo-arm64
Due: none

NO-JIRA: chore(tekton): remove leftover test comments from pipeline YAML files
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py312-c9s-push.yaml
Due: odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push

RHAIENG-2488: chore(base-images): remove ubi9 base-images since we're now on c9s, re. RHAIENG-2042
  .tekton/odh-base-image-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-push.yaml
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
Due: none

RHAIENG-2610: chore(base-images/cuda): add Tekton pipelines and Dockerfile for CUDA 13.0.2 Python 3.12 base image (#2808)
  .tekton/odh-base-image-cuda-13-0-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-push.yaml
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/13.0/cuda-repos/cuda.repo-amd64
  base-images/cuda/13.0/cuda-repos/cuda.repo-arm64
Due: none
