Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

fix rabbit nits
  manifests/tools/generate_kustomization.py
Due: none

RHAIENG-3206: chore(manifests/): add script to generate `manifests/base/kustomization.yaml` (#2971)
  ci/generate_code.sh
  manifests/README.md
  manifests/tools/generate_kustomization.py
Due: none

fix(lockfiles): in uv 0.10.5, the --universal flag behavior has changed, performed uv 0.10.4 -> 0.10.6 and regenerated lockfiles
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

ISSUE #3032: fix(lockfiles): in uv 0.10.5, the --universal flag behavior has changed, performed uv 0.10.4 -> 0.10.6 and regenerated lockfiles (#3033)
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

chore(Dockerfile.rocm): clean up redundant `USER 0` declarations
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push

refactor(manifests/tools): add Imagestream-to-resource mapping in `generate_kustomization.py`
  manifests/tools/generate_kustomization.py
Due: none

fix(manifests/tools): add Imagestream-to-resource mapping in `generate_kustomization.py` for rhds/notebooks (#3035)
  manifests/tools/generate_kustomization.py
Due: none

ISSUE #3032: chore(uv): pin uv version to fix CI check-generated-code failure
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/docs.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/security.yaml
  ci/generate_code.sh
  scripts/pylocks_generator.sh
  uv.toml
Due: none

ISSUE #3032: chore(uv): create a ./uv wrapper to run the correct version of uv
  .pre-commit-config.yaml
  README.md
  uv
Due: none

fixes from coderabbitai review
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/docs.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/security.yaml
  README.md
  ci/generate_code.sh
  uv
Due: none

fixes from coderabbitai review
  scripts/pylocks_generator.sh
Due: none

build-template: add codeserver build support and RHDS subscription env vars
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Here's a summary of what was changed:
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

xxx
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

chore(build): use RHDS lockfiles for subscription prefetch builds (#3037)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

ISSUE #3032: chore(uv): pin uv version to fix CI check-generated-code failure (#3034)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/docs.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/security.yaml
  .pre-commit-config.yaml
  README.md
  ci/generate_code.sh
  scripts/pylocks_generator.sh
  uv
  uv.toml
Due: none

build-template: add codeserver build optimizations and monitoring
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

RHAIENG-2846 [3/3]: Hermetic Dockerfile + build patches + Tekton for codeserver
  .dockerignore
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .tekton/multiarch-combined-pipeline.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/devel_env_setup.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/patches/apply-patch.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/microsoft-authentication/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/test/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/test/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/codeserver-offline-env.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/setup-offline-binaries.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/tweak-gha.sh
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/run-code-server.sh
  codeserver/ubi9-python-3.12/run-nginx.sh
  docs/hermetic-guide.md
  docs/konflux.md
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-rpm-lockfile.sh
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
  scripts/lockfile-generators/post-prefetch.sh
  scripts/lockfile-generators/prefetch-all.sh
  scripts/sandbox.py
  tests/containers/conftest.py
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2846: Remove codeserver/ubi9-python-3.12/get_code_server_rpm.sh to avoid codeflict from upstream
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2860: Enable hermetic build for codeserver ubi9-python-3.12 CPU image
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-pull-request.yaml
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Updte rpm.lock.yaml
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2860: Enable hermetic build for codeserver ubi9-python-3.12 CPU image
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2846 Prefetch: COMPONENT_DIR from Makefile, local build default, Tekton discovery
  .github/workflows/build-notebooks-TEMPLATE.yaml
  Makefile
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/download-npm.sh
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

ISSUE #2972: chore(.coderabbit.yaml): add pre-merge title and branch prefix checks (#2998)
  .coderabbit.yaml
Due: none

ISSUE #2949: fix(tests/containers/): extract the dict assertion to a common utility library
  ci/cached-builds/makefile_helper.py
  ntb/__init__.py
  ntb/asserts.py
  tests/containers/base_image_test.py
Due: none

fixup, reformat
  ci/cached-builds/makefile_helper.py
Due: none

fixup, reformat
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: none

Update tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: none

docs: record TestOps quality improvement plan adoption (ADR-0004) (#2945)
  docs/architecture/decisions/0004-adopt-2026-q1-testops-quality-improvement-plan.md
Due: none

ISSUE #2949: fix(tests/containers/): extract the dict assertion to a common utility library (#2960)
  ci/cached-builds/makefile_helper.py
  ntb/__init__.py
  ntb/asserts.py
  tests/containers/base_image_test.py
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: none

Update lock files
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update lock files (#3045)
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-2846 Prefetch: COMPONENT_DIR from Makefile, local build default, Tekton discovery
  .github/workflows/build-notebooks-TEMPLATE.yaml
  Makefile
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/download-npm.sh
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Final chores for RHAIENG-1785
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

last chores for RHAIENG-1723
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
Due: odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

feat(codeserver): registry-only npm, single ripgrep, system Node for hermetic build
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/patches/apply-patch.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/README.md
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/ci/build/build-vscode.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/ci/dev/postinstall.sh
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/custom-packages/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/custom-packages/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/build/gulpfile.reh.js
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/emmet/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/emmet/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/extensions/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/remote/package-lock.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/lib/vscode/remote/package.json
  codeserver/ubi9-python-3.12/prefetch-input/patches/code-server-v4.106.3/ripgrep/postinstall.js
  codeserver/ubi9-python-3.12/prefetch-input/patches/setup-offline-binaries.sh
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
  docs/konflux.md
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/download-npm.sh
  scripts/lockfile-generators/rewrite-npm-urls.sh
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

chore: add ayush17 to OWNERS reviewers list
  OWNERS
Due: none

RHAIENG-2860: Hermetic build - install from built tree instead of RPM
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/artifacts.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
