Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

fix(.agents): standardize sbom_analyze.py path to scripts/cve/sbom_analyze.py
  .agents/triage/reference/case-study-cve-2025-13465.md
  .agents/triage/reference/cve-remediation-guide.md
Due: none

fix(.agents): clarify label replacement as fetch-remove-add pattern
  .agents/triage/skills/label.md
Due: none

fix(.agents): clarify placeholder in diagnose.md MCP call example
  .agents/bugfix/skills/diagnose.md
Due: none

fix(.agents): update ledger status on Jira API failure in assess.md
  .agents/triage/skills/assess.md
Due: none

refactor(.agents): remove browser bulk wizard, use API-only VEX closure
  .agents/triage/skills/close-vex.md
Due: none

fix(.agents): correct workbench component count (10 → 11)
  .agents/triage/reference/case-study-cve-2025-15284.md
Due: none

fix(.agents): harden curl examples with -fsS flag (CWE-391)
  .agents/reference/registry-redhat-io.md
Due: none

RHAIENG-2846: eliminate LOCAL_BUILD branching — inject repos via infrastructure
  .github/workflows/build-notebooks-TEMPLATE.yaml
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/README.md
  docs/hermetic-guide.md
  docs/learnings/hermetic-build-architecture.md
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-2846: remove LOCAL_BUILD from all Dockerfiles
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/lockfile-generators/README.md
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

chore(rstudio): Remove Python package version pins from pyproject.toml
  rstudio/c9s-python-3.12/pyproject.toml
  rstudio/c9s-python-3.12/requirements.cpu.txt
  rstudio/c9s-python-3.12/requirements.cuda.txt
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cuda.toml
  rstudio/rhel9-python-3.12/pyproject.toml
  rstudio/rhel9-python-3.12/requirements.cpu.txt
  rstudio/rhel9-python-3.12/requirements.cuda.txt
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: none

fix(rstudio): Remove statically-linked Copilot rg binaries
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cuda
Due: none

RHAIENG-2759: eliminate LOCAL_BUILD branching — inject repos via infrastructure
  .github/workflows/build-notebooks-TEMPLATE.yaml
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/README.md
  docs/hermetic-guide.md
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

chore(deps): update registry.access.redhat.com/ubi9/go-toolset docker tag to v1.25.8-1775491036 (#3321)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.konflux.cpu
  scripts/dockerfile_fragments.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Add codeflare-sdk on llmcompressor notebook for concistency
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

remove skip test for codeflare-sdk version
  tests/test_main.py
Due: none

RHAIENG-787: remove unused sync-python-lockfiles.sh
  scripts/sync-python-lockfiles.sh
Due: none

3.4 pre-release chores
  Makefile
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  uv.lock
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

RHAIENG-786: remove dead uv lock workaround from Trivy scan
  .github/workflows/security.yaml
Due: none

RHAIENG-4352: fix Odh-Elyra version on N-1 tags from 5.0 to 4.3
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

tests: remove Odh-Elyra exception, add docstring to version alignment test
  tests/test_main.py
Due: none

RHAIENG-2759: eliminate LOCAL_BUILD branching — inject repos via infrastructure (#3326)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  Makefile
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/README.md
  docs/hermetic-guide.md
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.konflux.cuda
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/download-pip-packages.py
  scripts/lockfile-generators/helpers/hermeto-fetch-rpm.sh
  scripts/lockfile-generators/prefetch-all.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

automated image stream package update
  .github/workflows/code-quality.yaml
  .github/workflows/piplock-renewal.yaml
  Makefile
  manifests/tools/commit_env_refs.py
  manifests/tools/generate_kustomization.py
  manifests/tools/update_imagestream_annotations_from_pylock.py
  tests/test_pylock_downgrade.py
Due: none

fix N-1 and N-2 manifest annotations to match actual image content
  manifests/odh/base/code-server-notebook-imagestream.yaml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/odh/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/odh/base/rstudio-notebook-imagestream.yaml
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

tests: add SBOM-based manifest annotation validation
  ci/check-software-versions.py
  pytest.ini
  tests/containers/conftest.py
  tests/containers/manifest_validation_test.py
Due: none

ci: update software-versions workflow to run SBOM-based test
  .github/workflows/software-versions.yaml
Due: none

chore: exclude manifest_validation tests from image build jobs
  .github/workflows/build-notebooks-TEMPLATE.yaml
  Makefile
Due: none

Update lock files and ImageStream dependency annotations
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cuda.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Update tensorflow rocm image
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
Due: none

Update lock files and ImageStream dependency annotations
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cuda.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix: address CodeRabbit security findings
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

update e2e test for pytorch+llmcompressor
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/test/test_notebook.ipynb
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Update lock files and ImageStream dependency annotations (#3346)
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/c9s-python-3.12/uv.lock.d/pylock.cuda.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cpu.toml
  rstudio/rhel9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

ci: fix playwright artifact name collision
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

ci: fix playwright artifact name collision (#3349)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Update docstring for find_orphan_cves to match return type
  scripts/cve/create_cve_trackers.py
Due: none

Improve current_team type checking using pattern matching
  scripts/cve/create_cve_trackers.py
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
