Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

fix(cve): update llmcompressor pylock files for Pillow 12.2.0
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

updates manfest file to check for pipfile.lock in other images
  manifests/tools/update_imagestream_annotations_from_pylock.py
Due: none

RHAIENG-4600: Pin uv to RH index to fix rocm-tensorflow
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
Due: none

fix: use actual image manifest for version tests on derived images
  scripts/test_jupyter_with_papermill.sh
Due: none

Update pnpm/action-setup action to v6.0.3
  .github/workflows/test-playwright-action.yaml
Due: none

Update Red Hat registry base images
  rstudio/c9s-python-3.12/build-args/konflux.cpu.conf
  rstudio/c9s-python-3.12/build-args/konflux.cuda.conf
Due: none

chore: trigger CI for RHAIENG-4442 test validation (to be reverted)
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

chore: add CVE fixer guidance file
  .cve-fix/examples.md
Due: none

update ROCm version on pytorch flavors to 7.1
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/konflux.rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

Update cpu configs with the new 3.5 index and base image
  base-images/build-args/cpu.conf
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  codeserver/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/konflux.cpu.conf
  rstudio/c9s-python-3.12/build-args/cpu.conf
  rstudio/c9s-python-3.12/build-args/konflux.cpu.conf
  rstudio/rhel9-python-3.12/build-args/cpu.conf
  rstudio/rhel9-python-3.12/build-args/konflux.cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

update cuda 12.9 to the new tag and index
  jupyter/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

Refresh cuda confs with 3.5 artifacts
  base-images/build-args/cuda13.0.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/konflux.cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/konflux.cuda.conf
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

refresh manifests
  manifests/rhoai/base/code-server-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

remove uv and mictopipenv versions from the dockerfiles
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cuda
Due: none

fix(tests/containers): remove the libodbc.so.2 allowlisting as it is no longer necessary
  tests/containers/base_image_test.py
Due: none

Revert "chore: trigger CI for RHAIENG-4442 test validation (to be reverted)"
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Update aquasecurity/trivy-action action to v0.36.0
  .github/workflows/security.yaml
Due: none

update codeserver
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

pin onnx to 1.20.0 in codeserver
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

Remove env public index from the rocm-tensorflow dockerfiles
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
Due: none

Update tensorflow-rocm packages
  dependencies/odh-notebooks-meta-workbench-datascience-deps/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/konflux.rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
Due: none

RHAIENG-4442: Fix NumPy version test failure for derived images (#3422)
  scripts/test_jupyter_with_papermill.sh
Due: none

update e2e test for pytorch+llmcompressor (#3320)
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/test/test_notebook.ipynb
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

Update tensorflow rocm manifests
  ci/requirements-elyra.txt
  dependencies/odh-notebooks-meta-workbench-datascience-deps/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.konflux.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  tests/test_main.py
Due: none

update piplock-renewal to skip pr it changes are only timestamps
  .github/workflows/piplock-renewal.yaml
Due: none

Update quay.io/aipcc/base-images/cuda-12.9-el9.6 Docker tag to v3.4.0-1777052563
  rstudio/rhel9-python-3.12/build-args/konflux.cuda.conf
Due: none

create ROCM 7.1 base image
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-push.yaml
  base-images/build-args/rocm7.1.conf
  base-images/rocm/7.1/c9s-python-3.12/Dockerfile.rocm
Due: none

Update odh conf files for ROCM to 7.1
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

creating 3.5 tag on the imagestream
  ci/check-params-env-odh.sh
  manifests/odh/base/code-server-notebook-imagestream.yaml
  manifests/odh/base/commit.env
  manifests/odh/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/odh/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/odh/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/odh/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/odh/base/kustomization.yaml
  manifests/odh/base/params.env
  manifests/odh/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/odh/base/rstudio-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.cpu
  rstudio/rhel9-python-3.12/Dockerfile.cuda
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cpu
  rstudio/rhel9-python-3.12/Dockerfile.konflux.cuda
  scripts/update-commit-latest-env.py
  tests/test_main.py
Due: none

Add Stale workflow to keep our PR backlog clean
  .github/workflows/stale-prs.yaml
Due: none

Update stale-pr workflow to ignoge issues
  .github/workflows/stale-prs.yaml
Due: none

make the api calls more effective by using sorting
  .github/workflows/stale-prs.yaml
Due: none

remove comments to avoid lint errors
  .github/workflows/stale-prs.yaml
Due: none

Test 1
  README.md
Due: none

Remove py-spy from codeserver
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push
