Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

RHAIENG-7152: Omit sdist hashes only when an EL9-compatible wheel exists (#4429)
  codeserver-baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  runtimes/baseline/ubi9-python-3.12/requirements.cpu.txt
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/pylock-to-requirements.py
  tests/unit/scripts/test_pylock_to_requirements.py
Due: none

Update registry.redhat.io/rhel9/python-312 Docker tag to v9.8-1787606766
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: none

docs(rosa-hcp-provision): drop personal SSO identifiers from login notes
  .cursor/skills/rosa-hcp-provision/SKILL.md
Due: none

docs(rosa-hcp-provision): record 3.6 EA Kyverno and workbench spawn learnings
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/arm64-imagestream-importmode.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
  .cursor/skills/rosa-hcp-provision/install-rhoai.md
Due: none

Update registry.redhat.io/rhel9/python-312 Docker tag to v9.8-1787606766 (#4439)
  jupyter/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
  runtimes/baseline/ubi9-python-3.12/build-args/konflux.cpu.conf
Due: none

docs(rosa-hcp-provision): address PR review findings on Kyverno/DSC v2 docs
  .cursor/skills/rosa-hcp-provision/SKILL.md
  .cursor/skills/rosa-hcp-provision/install-prerelease.md
Due: none

RHAIENG-5223 RHAIENG-5224: base-images: switch CUDA/ROCm bases to midstream
  base-images/README.md
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.9/cuda-repos/cuda.repo-amd64
  base-images/cuda/12.9/cuda-repos/cuda.repo-arm64
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/13.0/cuda-repos/cuda.repo-amd64
  base-images/cuda/13.0/cuda-repos/cuda.repo-arm64
  base-images/rocm/7.14/c9s-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-9-py312-c9s-on-push

fix(base-images/rocm): drop root before AIPCC pip/uv config block
  base-images/rocm/7.14/c9s-python-3.12/Dockerfile.rocm
Due: none

RHAIENG-5223: fix(base-images/cuda): overlay NCCL 2.30.4 on CUDA 13.0 midstream base
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

docs(base-images): note midstream workflow supersedes legacy accelerator steps
  base-images/README.md
Due: none

test: pin on-pr-ada6d4b73 manifest index digests for midstream base validation
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

add subscription manager on the odh baseline pipelines
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
Due: none

update our lockal multiarch pipeline with SM
  .tekton/multiarch-odh-main-combined-pipeline.yaml
Due: none

chore(.tekton/): remove obsolete ubi9 baseline and codeserver pipeline runs
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

add subscription manager on the odh baseline pipelines (#4421)
  .tekton/multiarch-odh-main-combined-pipeline.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-baseline-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

updating baseline images to being hermetic
  .tekton/odh-workbench-jupyter-baseline-cpu-py312-ubi9-push.yaml
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  prefetch-input/odh/rpms.in.yaml
  prefetch-input/odh/rpms.lock.yaml
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

RHAIENG-5223 RHAIENG-5224: base-images: switch CUDA/ROCm bases to midstream (#3678)
  base-images/README.md
  base-images/cuda/12.9/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.9/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/12.9/cuda-repos/cuda.repo-amd64
  base-images/cuda/12.9/cuda-repos/cuda.repo-arm64
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/cuda-repos/NGC-DL-CONTAINER-LICENSE
  base-images/cuda/13.0/cuda-repos/cuda.repo-amd64
  base-images/cuda/13.0/cuda-repos/cuda.repo-arm64
  base-images/rocm/7.14/c9s-python-3.12/Dockerfile.rocm
Due: odh-base-image-cuda-12-9-py312-c9s-on-push

NO-JIRA: docs: fix update script usage examples
  scripts/update-commit-latest-env.py
Due: none

NO-JIRA: scripts: stop collect_rhoai_entries tuple sentinel overloading
  scripts/update-commit-latest-env.py
Due: none

NO-JIRA: ci: bound fallback release-suffix regex to 1-2 digit major
  ci/check-params-env.sh
Due: none

NO-JIRA: fix(scripts): percent-encode Quay API path segments
  scripts/update-commit-latest-env.py
Due: none

NO-JIRA: test(cve): add autouse fixture clearing Jira env vars
  tests/unit/scripts/cve/conftest.py
  tests/unit/scripts/cve/test_create_cve_trackers.py
  tests/unit/scripts/cve/test_create_cve_trackers_fields.py
  tests/unit/scripts/cve/test_jira_auth.py
  tests/unit/scripts/cve/test_update_rhoaieng_teams.py
Due: none

NO-JIRA: codeserver: use exec for final nginx invocation in run-nginx.sh
  codeserver/ubi9-python-3.12/run-nginx.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: chore(pyproject): narrow RUF075 suppression to specific call site
  pyproject.toml
  tests/containers/socket_proxy.py
Due: none

NO-JIRA: base-images: drop dnf clean all from NCCL overlay RUN (CUDA 13.0)
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
Due: none

NO-JIRA: ci: replace fetch-depth: 0 with on-demand git fetch for pylock downgrade baseline
  .github/workflows/code-quality.yaml
Due: none

RHAIENG-6849: rebuild apply-seccomp for FIPS check-payload
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/patches/rebuild-apply-seccomp.sh
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-6849: fix Semgrep shell-unquoted-var on apply-seccomp rm
  codeserver/ubi9-python-3.12/prefetch-input/patches/rebuild-apply-seccomp.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: ci: fetch update branch before force-with-lease push in commit-latest refresh
  .github/workflows/update-commit-latest-env.yaml
Due: none

NO-JIRA: ci(.github): migrate local action/workflow refs to $/ self-repo syntax
  .github/actions/provision-k8s/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/check-image-availability.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/docs.yaml
  .github/workflows/lock-renewal.yaml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/release-kickoff.yaml
  .github/workflows/renovate-self-hosted.yaml
  .github/workflows/rpms-lock-renewal.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/software-versions.yaml
  .github/workflows/test-build-notebooks-template.yaml
  .github/workflows/test-capture-kernel-logs.yaml
  .github/workflows/test-containers.yaml
  .github/workflows/test-playwright-action.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-setup-uv.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/validate-renovate-config.yaml
Due: none

NO-JIRA: ci: replace global SC3046 suppression with inline hadolint ignore
  ci/hadolint-config.yaml
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

NO-JIRA: ci: fail check-params-env.sh on image size threshold breach
  ci/check-params-env.sh
Due: none

RHOAIENG-88676 RHAIENG-6849: fix(codeserver): strip apply-seccomp from the image
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/patches/strip-apply-seccomp.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix(baseline): gate public-index dependencies by platform in lockfiles
  codeserver-baseline/ubi9-python-3.12/README.md
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver-baseline/ubi9-python-3.12/pyproject.toml
  codeserver-baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/README.md
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  runtimes/baseline/ubi9-python-3.12/README.md
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/baseline/ubi9-python-3.12/pyproject.toml
  runtimes/baseline/ubi9-python-3.12/requirements.cpu.txt
  scripts/lockfile-generators/README.md
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

RHOAIENG-88676: fix(codeserver): fail the strip if find cannot traverse
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/patches/strip-apply-seccomp.sh
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

fix(scripts): pin uv lock Python to image requires-python
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

fix(scripts): quiet public-index uv lock and export output
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

fix(scripts): inject constraint-dependencies into [tool.uv] table
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

fix(baseline): Gate public-index dependencies by platform in lockfiles (#4458)
  codeserver-baseline/ubi9-python-3.12/README.md
  codeserver-baseline/ubi9-python-3.12/pylock.toml
  codeserver-baseline/ubi9-python-3.12/pyproject.toml
  codeserver-baseline/ubi9-python-3.12/requirements.cpu.txt
  jupyter/baseline/ubi9-python-3.12/README.md
  jupyter/baseline/ubi9-python-3.12/pylock.toml
  jupyter/baseline/ubi9-python-3.12/pyproject.toml
  jupyter/baseline/ubi9-python-3.12/requirements.cpu.txt
  runtimes/baseline/ubi9-python-3.12/README.md
  runtimes/baseline/ubi9-python-3.12/pylock.toml
  runtimes/baseline/ubi9-python-3.12/pyproject.toml
  runtimes/baseline/ubi9-python-3.12/requirements.cpu.txt
  scripts/lockfile-generators/README.md
  scripts/pylocks_generator.py
  tests/unit/scripts/test_pylocks_generator.py
Due: none

fix(base-images): point c9s pip and uv at PyPI for public-index images
  codeserver-baseline/ubi9-python-3.12/Dockerfile.konflux.cpu
  scripts/dockerfile_fragments.py
  tests/containers/base_image_test.py
Due: none

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
