Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))

RHAIENG-3790, RHAIENG-3788, RHAIENG-3786: chore(deps): update Code Server from v4.104.0 to v4.112.0 and Node.js from version 22.18.0 to 22.22.0
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  manifests/base/code-server-notebook-imagestream.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5548: Fix code-server image build failure
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/repos/centos.repo
  codeserver/ubi9-python-3.12/prefetch-input/repos/ubi.repo
  prefetch-input/repos/centos.repo
  prefetch-input/repos/ubi.repo
  tests/containers/workbenches/jupyterlab/jupyterlab_datascience_test.py
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-3790, RHAIENG-3788, RHAIENG-3786: add extension upgrade to Konflux Dockerfile in RHOAI 2.25
  codeserver/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

rhoaieng 57465 kale setup scripts - claude code
  dependencies/odh-notebooks-meta-jupyterlab-datascience-deps/pyproject.toml
  dependencies/odh-notebooks-meta-runtime-kale-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/utils/jupyter_kale_config.py
  jupyter/minimal/ubi9-python-3.12/start-notebook.sh
  runtimes/datascience/ubi9-python-3.12/utils/requirements-kale.txt
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

update requirements to include kale
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

update runtimes to include
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  scripts/pylocks_generator.py
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

refactor setup script to avoid wrapping python
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
  jupyter/datascience/ubi9-python-3.12/utils/configure_kale_from_elyra.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

create unit test for configure_kale_from_elyra
  tests/unit/test_configure_kale_from_elyra.py
Due: none

hardcode runtime configuration
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

refactor to disable kale in docker file instead of setup script
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

Apply suggestion from @coderabbitai[bot]
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

update config script to use correct host
  jupyter/datascience/ubi9-python-3.12/utils/configure_kale_from_elyra.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

rebase lock files
  codeserver/ubi9-python-3.12/requirements.cpu.txt
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/requirements.rocm.txt
  jupyter/rocm/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  jupyter/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/datascience/ubi9-python-3.12/requirements.cpu.txt
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/requirements.cpu.txt
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/requirements.cuda.txt
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/requirements.rocm.txt
  runtimes/rocm-tensorflow/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/tensorflow/ubi9-python-3.12/requirements.cuda.txt
  runtimes/tensorflow/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix setup kale script
  jupyter/minimal/ubi9-python-3.12/start-notebook.sh
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

remove excess config file
  jupyter/datascience/ubi9-python-3.12/utils/jupyter_kale_config.py
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

fix base image, fully connect elyra config
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

update security context and base image
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/setup-kale.sh
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

Test
  jupyter/datascience/ubi9-python-3.12/Dockerfile.konflux.cpu
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

Add GitHub Action to regenerate rpms.lock.yaml for ODH and RHDS
  .github/workflows/rpms-lock-renewal.yaml
Due: none

Discover RPM lockfile paths instead of hardcoding directories
  .github/workflows/rpms-lock-renewal.yaml
Due: none

Revert dynamic RPM lockfile path discovery
  .github/workflows/rpms-lock-renewal.yaml
Due: none

update lock files
  jupyter/datascience/ubi9-python-3.12/requirements.cpu.txt
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

chore: Update hemertic/prefetch-all.sh guide on local development
  codeserver/ubi9-python-3.12/README.md
  docs/hermetic-guide.md
  scripts/lockfile-generators/README.md
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5587: Fix ODH codeserver build failure: httpd RPM version conflict during hermetic dnf install
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/repos/ubi.repo
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

chore: Tweak download-pip-packages.py to get more error detail and retry on failure
  scripts/lockfile-generators/helpers/download-pip-packages.py
Due: none

RHAIENG-5387: Add missing base images to params-latest.env
  manifests/odh/base/params-latest.env
  manifests/rhoai/base/params-latest.env
Due: none

chore: Fix GHA refresh rpm lock file
  .github/workflows/rpms-lock-renewal.yaml
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/download-rpms.sh
  scripts/lockfile-generators/helpers/rhsm-pulp.repo
Due: none

Update RHDS rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/rhds/rpms.lock.yaml
  prefetch-input/rhds/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5599: Fix GHA refresh rpm lock file
  .github/workflows/rpms-lock-renewal.yaml
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/helpers/download-rpms.sh
  scripts/lockfile-generators/helpers/rhsm-pulp.repo
Due: none

Update ODH rpms.lock.yaml lock files
  codeserver/ubi9-python-3.12/prefetch-input/odh/rpms.lock.yaml
  prefetch-input/odh/rpms.lock.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push

RHAIENG-5599: Fix GHA refresh rpm lock file
  .github/workflows/rpms-lock-renewal.yaml
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-rpm-lockfile.sh
  scripts/lockfile-generators/helpers/download-rpms.sh
  scripts/lockfile-generators/helpers/rhsm-pulp.repo
Due: none

docs(adr): propose inline-snapshot for approval-style testing
  docs/architecture/decisions/0015-adopt-inline-snapshot-testing.md
Due: none

docs(adr): address review feedback on ADR 0015
  docs/architecture/decisions/0015-adopt-inline-snapshot-testing.md
Due: none

Clean up the commit_*.env files by removing unnecessary declarations of the current and previous pipeline commit hashes
  manifests/odh/base/commit-latest.env
  manifests/odh/base/commit.env
  scripts/update-commit-latest-env.py
Due: none
