Repository opendatahub-io/notebooks: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-base-image-cpu-py312-c9s-on-push, odh-base-image-cuda-12-8-py312-c9s-on-push, odh-base-image-cuda-12-9-py312-c9s-on-push, odh-base-image-cuda-py311-c9s-on-push, odh-base-image-cuda-py312-ubi9-on-push, odh-base-image-rocm-6-4-py312-c9s-on-push, odh-base-image-rocm-py312-c9s-on-push, odh-base-image-rocm-py312-ubi9-on-push, odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push

odh-base-image-cpu-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cpu-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  - name: path-context
    value: .
  ...

odh-base-image-cuda-12-8-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-12-9-py312-c9s-on-push:
  params:
  - name: event-type
    value: '{{event_type}}'
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-c9s:{{revision}}
  - name: dockerfile
  ...

odh-base-image-cuda-py311-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py311-c9s:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  - name: build-platforms
    value:
  ...

odh-base-image-cuda-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-cuda-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  - name: build-platforms
  ...

odh-base-image-rocm-6-4-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:v6.4-{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
  ...

odh-base-image-rocm-py312-c9s-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-c9s:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

odh-base-image-rocm-py312-ubi9-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-base-image-rocm-py312-ubi9:{{revision}}
  - name: dockerfile
    value: base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  - name: path-context
    value: .
  ...

Clarify tier tag guidance per CodeRabbit review
  tests/browser/README.md
Due: none

fix: correct sast-unicode-check indentation in 12 PipelineRun files
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-c9s-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py312-rhel9-push.yaml
Due: odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

removal of pins from pytorch-llmcompressor remaining packages
  dependencies/odh-notebooks-meta-llmcompressor-deps/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/requirements.cuda.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
Due: odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push

fix(build): replace Makefile awk parser with sandbox.py --build-arg-file
  Makefile
  scripts/buildinputs/buildinputs.go
  scripts/buildinputs/utils.go
  scripts/buildinputs/utils_test.go
  scripts/sandbox.py
Due: none

fix(build): make --build-arg-file repeatable in sandbox.py and buildinputs
  scripts/buildinputs/buildinputs.go
  scripts/sandbox.py
Due: none

fix(sandbox): simplify command reconstruction and fix style
  scripts/sandbox.py
Due: none

ci: add group-test pipeline for manual integration testing
  .tekton/notebooks-group-test.yaml
  .tekton/notebooks-group-testing-pipeline.yaml
Due: none

docs: add Konflux integration testing guide
  docs/konflux-integration.md
Due: none

fix: rewrite deploy-and-test with fallback repo, error handling, and undeploy safety
  .tekton/notebooks-group-test.yaml
  .tekton/notebooks-group-testing-pipeline.yaml
  docs/konflux-integration.md
  tests/test_main.py
Due: none

fix(.tekton): align PipelineRun metadata.name with Konflux component names
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-push.yaml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

fix(.tekton): align PR PipelineRun metadata.name with component names
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-odh-main-pull-request.yaml
Due: none

fix(.tekton): align CPU base image push pipeline names with components
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-push.yaml
Due: none

fix(.tekton): revert base image PR names to version-specific to avoid duplicates
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-pull-request.yaml
Due: none

docs(.tekton): clarify filename pattern scope excludes base images
  .tekton/README-odh.md
Due: none

chore(.tekton): remove empty creationTimestamp fields
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-push.yaml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push, odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push, odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push, odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push, odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push, odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push, odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push

chore(.tekton): remove stray comment
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml
Due: odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push

chore(.tekton): remove debug comment #poke2
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml
Due: odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push

docs(.tekton): document why prefetch-input/ is not in CEL triggers
  .tekton/README-odh.md
Due: none

docs(.tekton): document service account naming inconsistencies
  .tekton/README-odh.md
Due: none

fix(.tekton): correct build-args-file path in minimal runtime CEL expression
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml
Due: odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push

fix image reference for odh configs
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
Due: none

docs: document FIPS compliance status for workbench images
  docs/fips.md
  scripts/check-payload/config.toml
Due: none

test(trustyai): Add comprehensive e2e tests for missing packages
  jupyter/trustyai/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

feat(trustyai): Add feast package and tests
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

fix(trustyai): Regenerate lockfiles and sync annotations - RHAIENG-3062
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

fix(trustyai): Simplify test notebook per review - RHAIENG-3062
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

fix(trustyai): Fix regex and regenerate lockfiles - RHAIENG-3062
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/test/test_notebook.ipynb
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

fix(trustyai): Add Feast to ImageStream manifest annotations - RHAIENG-3062
  manifests/odh/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/rhoai/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

chore(trustyai): Regenerate lockfiles after rebase
  jupyter/trustyai/ubi9-python-3.12/requirements.cpu.txt
  jupyter/trustyai/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: none

docs: document Konflux build triggers and manual retrigger mechanism
  docs/konflux.md
Due: none

RHAIENG-4852: update uv version pin from 0.10.9 to 0.11.8
  README.md
  docs/architecture/decisions/0007-add-devcontainer-configuration.md
  pyproject.toml
  scripts/dockerfile_fragments.py
  scripts/lockfile-generators/README.md
Due: none

docs: update konflux.md with application links, resource overrides, and cross-references
  docs/konflux.md
Due: none

docs: add --overwrite to oc annotate trigger-pac-build examples
  docs/konflux.md
Due: none

docs: expand konflux.md with RBAC, troubleshooting, CLI tools, and trigger internals
  docs/konflux.md
Due: none

docs: restructure konflux.md for readability
  docs/konflux.md
Due: none

fix: add prefetch-dependencies and clair-scan memory overrides
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-12-9-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-odh-main-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-odh-main-push.yaml
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-pull-request.yaml
  .tekton/odh-base-image-rocm-7-1-py312-c9s-odh-main-push.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-push.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-ci-push.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-push.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
Due: odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push, odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push

Path conditions:
  odh-base-image-cpu-py312-c9s-on-push: (any of: base-images/cpu/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cpu-py312-c9s-push.yaml)
  odh-base-image-cuda-12-8-py312-c9s-on-push: (any of: base-images/cuda/12.8/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml)
  odh-base-image-cuda-12-9-py312-c9s-on-push: (((any of: base-images/utils/**) or (any of: base-images/cuda/12.9/c9s-python-3.12/**)) or (any of: base-images/build-args/cuda12.9.conf)) or (any of: .tekton/odh-base-image-cuda-12-9-py312-c9s-push.yaml)
  odh-base-image-cuda-py311-c9s-on-push: (any of: base-images/cuda/12.6/c9s-python-3.11/**) or (any of: .tekton/odh-base-image-cuda-py311-c9s-push.yaml)
  odh-base-image-cuda-py312-ubi9-on-push: (any of: base-images/cuda/12.6/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-cuda-py312-ubi9-push.yaml)
  odh-base-image-rocm-6-4-py312-c9s-on-push: (any of: base-images/rocm/6.4/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-c9s-on-push: (any of: base-images/rocm/6.2/c9s-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-c9s-push.yaml)
  odh-base-image-rocm-py312-ubi9-on-push: (any of: base-images/rocm/6.2/ubi9-python-3.12/**) or (any of: .tekton/odh-base-image-rocm-py312-ubi9-push.yaml)
  odh-pipeline-runtime-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: runtimes/minimal/ubi9-python-3.12/**) or (any of: runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf)) or (any of: .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-push.yaml))
  odh-pipeline-runtime-pytorch-rocm-py311-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.11/**))
  odh-pipeline-runtime-pytorch-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-push.yaml) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/**)) or (any of: runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf))
  odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: runtimes/tensorflow/ubi9-python-3.12/**)) or (any of: runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf))
  odh-workbench-codeserver-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((any of: .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml) or (any of: codeserver/ubi9-python-3.12/**)) or (any of: codeserver/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-datascience-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and (((((any of: .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/datascience/ubi9-python-3.12/**)) or (any of: jupyter/datascience/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-cpu-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf))
  odh-workbench-jupyter-minimal-rocm-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((any of: .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-push.yaml) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/**)) or (any of: jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf))
  odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-pytorch-llmcompressor-cuda-py312-ubi9-push.yaml) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/**)) or (any of: jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-on-push: (not (any of: manifests/base/params-latest.env)) and ((((((((any of: .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-push.yaml) or (any of: jupyter/tensorflow/ubi9-python-3.12/**)) or (any of: cuda/**)) or (any of: jupyter/utils/**)) or (any of: jupyter/minimal/ubi9-python-3.12/start-notebook.sh)) or (any of: jupyter/datascience/ubi9-python-3.12/mongodb-org-6.0.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/mssql-2022.repo-x86_64/**)) or (any of: jupyter/datascience/ubi9-python-3.12/setup-elyra.sh))
  odh-workbench-rstudio-minimal-cpu-py311-c9s-on-push: (not (any of: manifests/base/params-latest.env)) and ((any of: .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml) or (any of: rstudio/c9s-python-3.11/**))
